[2015-09-11 19:53] sensescape opened #2 "UNSCOPED: Caps are layering on top of roads, fix roads layer order"
- [x] Functional data in tiles
- [ ] Polish data in tiles
- [x] Functional styling
- [ ] Polish styling

![screen shot 2015-09-10 at 4 28 35 pm](https://cloud.githubusercontent.com/assets/466585/9824789/330c45f8-589d-11e5-97fe-4a8f43adfa25.png)

[2015-09-11 20:15] sensescape commented on #2
<img width="196" alt="screen shot 2015-09-11 at 4 13 58 pm" src="https://cloud.githubusercontent.com/assets/466585/9825288/432f9b9e-58a0-11e5-88de-1e3da38b8014.png">

[2015-09-11 20:19] sensescape opened #3 "Fix highway links transition"
- [x] Tiles have functional data
- [x] Style is functional
- [ ] Style polish

<img width="113" alt="screen shot 2015-09-11 at 4 19 16 pm" src="https://cloud.githubusercontent.com/assets/466585/9825366/ec13e86e-58a0-11e5-8cbe-67bab723a107.png">

[2015-09-11 20:21] sensescape opened #4 "Fix dot interpolation"
Color now looks a bit faded and the triangles too prominent

[2015-09-11 20:21] sensescape commented on #4
<img width="291" alt="screen shot 2015-09-11 at 4 20 30 pm" src="https://cloud.githubusercontent.com/assets/466585/9825420/303d8a54-58a1-11e5-8479-cbc378436cfb.png">

[2015-09-11 20:23] sensescape opened #5 "Fix bridge casings"
<img width="253" alt="screen shot 2015-09-11 at 4 22 44 pm" src="https://cloud.githubusercontent.com/assets/466585/9825453/62b0e1f2-58a1-11e5-9956-fbb5909c6f16.png">

[2015-09-11 20:32] sensescape opened #6 "Fix borders"
- [x] Data in dev tiles
- [x] Data in prod tiles
- [x] Functional styling in scene file
- [ ] Polish styling

<img width="409" alt="screen shot 2015-09-11 at 4 32 34 pm" src="https://cloud.githubusercontent.com/assets/466585/9825657/c257d358-58a2-11e5-9399-3ff7bc3facc4.png">

[2015-09-11 20:35] sensescape opened #7 "Add coastline layer when ready"
<img width="606" alt="screen shot 2015-09-11 at 4 34 39 pm" src="https://cloud.githubusercontent.com/assets/466585/9825696/10303796-58a3-11e5-8ed0-68011b97c831.png">

[2015-09-15 17:21] sensescape opened #8 "Fix building extrusion transition"
<img width="385" alt="screen shot 2015-09-15 at 1 21 23 pm" src="https://cloud.githubusercontent.com/assets/466585/9884238/b49c4f98-5bac-11e5-89e6-606f950243cb.png">

[2015-09-15 22:02] nvkelso opened #9 "Move POI image to root dir (not images dir)"

[2015-09-15 22:02] nvkelso opened #10 "Upgrade to new font syntax"

[2015-09-16 20:04] sensescape opened #11 "Resolve casing transition from thick to thin on highways and highway links"
- [ ] Need a plan

<img width="111" alt="screen shot 2015-09-16 at 1 02 39 pm" src="https://cloud.githubusercontent.com/assets/466585/9916862/7738254c-5c73-11e5-9a89-6d480b4891b2.png">
<img width="85" alt="screen shot 2015-09-16 at 1 02 48 pm" src="https://cloud.githubusercontent.com/assets/466585/9916863/77386cbe-5c73-11e5-89f0-1df132e00957.png">

[2015-09-16 21:54] sensescape opened #12 "Refine and clean up high zoom coastline shader"
<img width="255" alt="screen shot 2015-09-16 at 2 52 32 pm" src="https://cloud.githubusercontent.com/assets/466585/9919582/bca627a0-5c82-11e5-9abf-ae8cd8233e95.png">

[2015-09-16 23:20] sensescape opened #13 "Adjust coastline lines per zoom"
- [x] Tiles have data
- [x] Functional style
- [ ] Styling polish

<img width="319" alt="screen shot 2015-09-16 at 4 18 54 pm" src="https://cloud.githubusercontent.com/assets/466585/9921080/e624fba4-5c8e-11e5-936b-b88a370b2be9.png">

[2015-09-16 23:34] sensescape opened #14 "Adjust park path line-widths at high zooms"
<img width="449" alt="screen shot 2015-09-16 at 4 33 19 pm" src="https://cloud.githubusercontent.com/assets/466585/9921273/bb3c822a-5c90-11e5-8f4c-6f39508acc94.png">

[2015-09-17 00:08] nvkelso commented on #13
We can adjust adjust it per water feature type (ocean, lake).

On Wed, Sep 16, 2015 at 4:20 PM, Geraldine Sarmiento <
notifications@github.com> wrote:

[2015-09-17 17:16] nvkelso opened #15 "Building tilt z-axis effect needs to apply to all building parts"
Currently it's only selecting on building parts, but we need to say if the entire building's area/volume then all of that building's parts should have the tilt applied. /cc @meetar @bcamper

[2015-09-17 17:17] nvkelso commented on #15
Related: https://github.com/mapzen/vector-datasource/issues/212

[2015-09-17 17:33] meetar commented on #15
Can you describe the situation where you see this, and say more about the way the problem manifests?

[2015-09-17 17:47] nvkelso commented on #15
Empire State Building only shows the lower slice of it's building. @sensescape can you include screenshot and more info?

[2015-09-17 17:52] sensescape opened #16 "Buildings draw twice at some zooms"
- [x] Just do it

https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L1380-L1440

-I'd like buildings footprints to appear at z14 for those buildings that extrude at z15 (can't get the filters at building-early to do this)

[2015-09-17 17:53] meetar commented on #15
Ah, right. Unfortunately we only have access to building parts – we currently have no mechanism to relate parts to each other.

In this case I'd recommend we change the filter to work more like this:

[code]

If that makes sense to you I'll draw up another set of numbers.

[2015-09-17 17:55] sensescape commented on #15
Empire State drawing in parts

<img width="119" alt="screen shot 2015-09-17 at 10 54 02 am" src="https://cloud.githubusercontent.com/assets/466585/9941493/8b50d346-5d2a-11e5-924e-09389b62f85c.png">
<img width="253" alt="screen shot 2015-09-17 at 10 54 11 am" src="https://cloud.githubusercontent.com/assets/466585/9941495/8b6c5b84-5d2a-11e5-9945-1745ce0a02f4.png">
<img width="413" alt="screen shot 2

[2015-09-17 17:55] bcamper commented on #15
@sensescape can you also attach the scene file?

[2015-09-17 17:56] meetar commented on #15
Right. To be clear, these filters would be applied on the server to guide tile generation, and would not be applied in the scene file itself.

[2015-09-17 18:03] bcamper commented on #15
Seems either @meetar and I may misunderstand the issue, and/or we're conflating a couple issues at once :)  So taking a look at the scene file will help sort it out!

[2015-09-17 18:07] sensescape commented on #15
@bcamper @meetar, it's checked in, eraser-map.yaml

[2015-09-17 18:41] meetar commented on #15
Got it! I had initially thought this was a data problem, thanks for the scene file –

So using `area` and `name` filters won't work reliably on buildings, because of our inability to relate building parts to each other – in many cases the building `name` is only set on the building relation, which is often the largest outline. In the case of the Empire State Building, that's the building's base.

[2015-09-17 21:35] sensescape opened #17 "Landuse/buildings filter"
Started to test out styling buildings on various landuse types, starting with universities. Not drawing...

https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L1573-L1579

<img width="617" alt="screen shot 2015-09-17 at 2 31 26 pm" src="https://cloud.githubusercontent.com/assets/466585/9946625/4c320508-5d49-11e5-900f-7bffd80e8530.png">

[2015-09-17 22:17] nvkelso commented on #17
You'll probably need to mod the shader to accept colors.

[2015-09-17 23:23] sensescape opened #18 "Some airport runways are not drawing"
JFK, Heathrow and LaGuardia are not drawing runways, but SFO is drawing.
https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L2736-L2744

<img width="211" alt="screen shot 2015-09-17 at 4 20 47 pm" src="https://cloud.githubusercontent.com/assets/466585/9948488/68875154-5d58-11e5-9d1c-3f94b7ac534e.png">
<img width="289" alt="screen shot 2015-09-17 at 4 20 51 pm" src="https://cloud.

[2015-09-17 23:39] sensescape opened #19 "Fix tunnels"
- [x] Tiles have data
- [x] Functional style
- [ ] Styling polish

Not legible, color is too subtle

<img width="378" alt="screen shot 2015-09-17 at 4 38 06 pm" src="https://cloud.githubusercontent.com/assets/466585/9948749/a592b672-5d5a-11e5-8023-8e2d50ec70d2.png">

http://localhost:8000/#16.9/47.60984/-122.33137

[2015-09-17 23:42] sensescape commented on #18
Style aprons:
https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L2745-L2752

[2015-09-18 18:41] sensescape opened #20 "Adjust size of small country (island) names - smaller"
- [x] Tiles have functional data
- [x] Style functional
- [ ] Style polish

<img width="315" alt="screen shot 2015-09-18 at 11 38 45 am" src="https://cloud.githubusercontent.com/assets/466585/9967888/216bbf74-5dfa-11e5-82ec-549351aeb609.png">

[2015-09-18 18:56] sensescape commented on #20
<img width="369" alt="screen shot 2015-09-18 at 11 55 28 am" src="https://cloud.githubusercontent.com/assets/466585/9968255/42e86830-5dfc-11e5-9a9f-e410f86f3640.png">

[2015-09-21 18:24] nvkelso opened #21 "Highway ramps should be distinct from thru roads"
This is around Dulles Airport outside of DC:

http://tangrams.github.io/eraser-map/#13/38.9585/-77.4284

<img width="456" alt="screen shot 2015-09-21 at 11 22 54" src="https://cloud.githubusercontent.com/assets/853051/10000828/522a88e2-6053-11e5-8669-b30f9c8454b8.png">

[2015-09-22 19:30] nvkelso opened #22 "Style route line"
- [x] Data in app
- [x] Functional styling
- [x] Polish styling

https://github.com/mapzen/eraser-map/blob/master/app/src/main/assets/scene.yaml#L52-L73:D

[2015-09-22 19:31] nvkelso opened #23 "Style search result pins"
- [x] Data in app
- [x] Functional art
- [x] Delivered by Ekta
- [x] Integrate into sprite sheet and scene file
- [x] Functional styling
- [ ] Polish art & styling

https://github.com/mapzen/eraser-map/blob/master/app/src/main/assets/scene.yaml#L52-L73:D

[2015-09-22 19:31] nvkelso opened #24 "Style current location gem (find_me) asset"
- [x] Data in app
- [x] Functional art
- [x] Delivered by Ekta
- [x] Integrate into sprite sheet and scene file
- [x] Functional styling
- [x] Polish art & styling

https://github.com/mapzen/eraser-map/blob/master/app/src/main/assets/scene.yaml#L52-L73:D

[2015-09-22 19:47] nvkelso commented on #20
These are country labels. We have a copy proxies for this on country features: `area` and `population` to experiment with.

[2015-09-22 19:48] nvkelso commented on #18
Fixed in: https://github.com/tangrams/eraser-map/commit/8a08f9d2b5e5dba8ac735ef126e7b6a2954e9de5

[2015-09-22 19:48] #18 closed, assigned to nobody

[2015-09-22 21:53] sensescape opened #25 "National Park colors too subtle, change color"
- [x] Tiles have data
- [x] Functional style
- [ ] Styling polish

change color
<img width="571" alt="screen shot 2015-09-22 at 2 53 08 pm" src="https://cloud.githubusercontent.com/assets/466585/10032717/acf5a982-6139-11e5-8d10-b32b830e8527.png">

[2015-09-23 00:42] nvkelso commented on #9
This was done.

[2015-09-23 00:42] #9 closed, assigned to nobody

[2015-09-23 13:54] tallytalwar commented on #9
@nvkelso We have a PR on tangram-es, https://github.com/tangrams/tangram-es/pull/297, which will allow us to have resources relative to the scene file.

Once we have that merged we will have to revert this change.

[2015-09-23 17:49] sensescape opened #26 "Style buildings within landuse university, park and other green areas"
- [x] Tiles has the data
- [x] Functional styling in scene file
- [x] Polish styling

<img width="367" alt="screen shot 2015-09-23 at 10 47 35 am" src="https://cloud.githubusercontent.com/assets/466585/10053421/c9f46832-61e0-11e5-9604-d64e3547953b.png">

[2015-09-23 17:51] sensescape commented on #26
Also within the shader

[2015-09-23 18:14] sensescape commented on #26
Need help with building shader to make it easier to set colors for building sides/facades
https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L775-L804

[2015-09-23 18:23] sensescape opened #27 "Style roads/paths in landuse:golf and other areas"
<img width="326" alt="screen shot 2015-09-23 at 11 20 39 am" src="https://cloud.githubusercontent.com/assets/466585/10054367/83d95eca-61e5-11e5-9dba-edd7a098531d.png">

[2015-09-23 19:03] sensescape opened #28 "Style roads in landuse:residential within parks"
- [ ] Plan of action

Not sure what to do here, residential roads within parks, my colors aren't drawing:
<img width="1135" alt="screen shot 2015-09-23 at 12 01 08 pm" src="https://cloud.githubusercontent.com/assets/466585/10055440/25ec7760-61eb-11e5-8dff-94775ca64bf3.png">

[2015-09-23 20:36] tallytalwar commented on #9
https://github.com/tangrams/tangram-es/pull/297 got merged to master. Tangram-es will require resources to be relative to the scene yaml.

[2015-09-23 21:09] sensescape opened #29 "Roads/paths in zoos are not consistent"
- [x] Functional data in tiles
- [ ] Polish data in tiles
- [x] Functional styling
- [ ] Polish styling

<img width="820" alt="screen shot 2015-09-23 at 2 04 31 pm" src="https://cloud.githubusercontent.com/assets/466585/10058875/98a4f05a-61fc-11e5-9de4-b8c7720bf1d9.png">
<img width="768" alt="screen shot 2015-09-23 at 2 06 53 pm" src="https://cloud.githubusercontent.com/assets/466585/10058878/9b4f

[2015-09-23 21:21] sensescape opened #30 "Zoo lines not drawing"
https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L1723-L1728

<img width="430" alt="screen shot 2015-09-23 at 2 21 07 pm" src="https://cloud.githubusercontent.com/assets/466585/10059166/5e4a34ea-61fe-11e5-8a58-1df06a53a9e8.png">

[2015-09-23 21:35] sensescape opened #31 "Tunnels in parks?"
- [x] Data in tiles
- [x] Functional styling
- [ ] Polish styling

Should we pull this out to landuse park for tunnels too?

<img width="314" alt="screen shot 2015-09-23 at 2 33 09 pm" src="https://cloud.githubusercontent.com/assets/466585/10059520/4f117fcc-6200-11e5-88a0-7167cea93abe.png">

https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L1041-L1048

[2015-09-23 21:39] sensescape opened #32 "Secondary roads in landuse areas not drawing"
https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L1328-L1359

<img width="809" alt="screen shot 2015-09-23 at 2 37 56 pm" src="https://cloud.githubusercontent.com/assets/466585/10059613/e174efac-6200-11e5-8c6c-4f5b716721aa.png">

[2015-09-23 21:44] sensescape commented on #19
<img width="481" alt="screen shot 2015-09-23 at 2 44 08 pm" src="https://cloud.githubusercontent.com/assets/466585/10059735/95380402-6201-11e5-9bc1-011bda533497.png">
But now the path looks like it's floating

[2015-09-23 21:46] sensescape commented on #8
with the new building extrusion transition from Peter

<img width="469" alt="screen shot 2015-09-23 at 2 45 39 pm" src="https://cloud.githubusercontent.com/assets/466585/10059787/e13caaf6-6201-11e5-8b21-4706dee4d372.png">

[2015-09-23 22:15] sensescape commented on #5
Current state of golden gate bridge, looks like a lot of layering of lines, not sure what's going on here:

<img width="386" alt="screen shot 2015-09-23 at 3 14 48 pm" src="https://cloud.githubusercontent.com/assets/466585/10060468/f4e4c1f2-6205-11e5-9147-ff0e90033c22.png">

[2015-09-23 22:16] sensescape commented on #5
<img width="256" alt="screen shot 2015-09-23 at 3 15 59 pm" src="https://cloud.githubusercontent.com/assets/466585/10060480/05561e28-6206-11e5-96a6-c3a6c0728d84.png">

[2015-09-23 22:18] #7 closed, assigned to nobody

[2015-09-23 22:33] nvkelso commented on #31
Probably? Depends on if the default styling for tunnels in the rest of the map "just works" in parks and other AOIs.

[2015-09-23 22:40] sensescape commented on #30
Fixed

<img width="318" alt="screen shot 2015-09-23 at 3 39 09 pm" src="https://cloud.githubusercontent.com/assets/466585/10060901/650ccc9c-6209-11e5-8acd-ff5580148f49.png">
<img width="427" alt="screen shot 2015-09-23 at 3 39 15 pm" src="https://cloud.githubusercontent.com/assets/466585/10060904/6c6165fc-6209-11e5-843c-8b69b6ed0034.png">

[2015-09-23 22:42] sensescape commented on #30
This draws:

https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L1724-L1729

[2015-09-23 22:42] #30 closed, assigned to nobody

[2015-09-23 22:45] nvkelso commented on #5
This is because there is a bridge landuse polygon with 4 lines on top of it: 2 road lines (inbound, outbound), and 2 pedestrian paths on the outside (inbound, outbound).

https://www.openstreetmap.org/edit#map=19/37.81312/-122.47747

[2015-09-23 22:48] sensescape commented on #32
working now

[2015-09-23 22:48] #32 closed, assigned to nobody

[2015-09-23 22:48] nvkelso commented on #5
Here's an example tile:
- http://vector.mapzen.com/osm/all/19/83773/202581.topojson?api_key=vector-tiles-HqUVidw

It looks like the bridge is getting an `attraction` tag right now instead of the `bridge` tag, that's probably a bug in the tiles code (https://github.com/mapzen/vector-datasource/issues/238).

[2015-09-23 22:50] sensescape commented on #27
<img width="469" alt="screen shot 2015-09-23 at 3 49 38 pm" src="https://cloud.githubusercontent.com/assets/466585/10061100/be5c1216-620a-11e5-989d-7c43692951c6.png">

[2015-09-23 22:50] #27 closed, assigned to nobody

[2015-09-23 22:58] sensescape opened #33 "Mix of landuse kind wood and park in Prospect Park Brooklyn"
Not sure what to do here:
<img width="784" alt="screen shot 2015-09-23 at 3 56 36 pm" src="https://cloud.githubusercontent.com/assets/466585/10061239/ef4f3faa-620b-11e5-85c5-e3a541a7491b.png">
<img width="462" alt="screen shot 2015-09-23 at 3 58 15 pm" src="https://cloud.githubusercontent.com/assets/466585/10061240/ef67bc38-620b-11e5-98e3-092bc6295331.png">

[2015-09-23 22:58] nvkelso opened #34 "Move POI image back to images dir"
This will make it more consistent with other scene configs, and was unblocked by recent Tangram changes.

[2015-09-23 22:59] nvkelso commented on #9
Will do in: https://github.com/tangrams/eraser-map/issues/34. The image file has changed since then, so the commit shouldn't be reverted.

[2015-09-23 23:08] nvkelso commented on #33
Add `wood` to the `park` layer’s filter.

On Wed, Sep 23, 2015 at 3:58 PM, Geraldine Sarmiento <
notifications@github.com> wrote:

[2015-09-23 23:46] sensescape commented on #33
ok, added

https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L1705

<img width="475" alt="screen shot 2015-09-23 at 4 44 31 pm" src="https://cloud.githubusercontent.com/assets/466585/10061985/a28e7968-6212-11e5-914b-49ada300af8b.png">

[2015-09-23 23:46] #33 closed, assigned to nobody

[2015-09-23 23:48] sensescape opened #35 "Redesign steps styling (work around shader bug)"
- [ ] Plan of action?

<img width="216" alt="screen shot 2015-09-23 at 4 48 01 pm" src="https://cloud.githubusercontent.com/assets/466585/10062018/e36831d6-6212-11e5-99a1-f09ce9592493.png">

[2015-09-23 23:48] sensescape opened #36 "Add and style rail lines"
- [x] Tiles have functional data
- [x] Style is functional
- [ ] Style polish

[2015-09-23 23:49] sensescape commented on #35
<img width="434" alt="screen shot 2015-09-23 at 4 49 17 pm" src="https://cloud.githubusercontent.com/assets/466585/10062032/0e9e95f2-6213-11e5-9729-b14ad5c4a5f8.png">

[2015-09-23 23:49] sensescape commented on #35
Fort Greene Park

[2015-09-23 23:52] sensescape opened #37 "Style airports at high and low zooms"
- [x] Functional data in tiles
- [x] Polish data in tiles
- [x] Functional styling
- [x] Polish styling

<img width="489" alt="screen shot 2015-09-23 at 4 51 35 pm" src="https://cloud.githubusercontent.com/assets/466585/10062065/783ed260-6213-11e5-85d4-3e4ec43c728b.png">
<img width="114" alt="screen shot 2015-09-23 at 4 51 52 pm" src="https://cloud.githubusercontent.com/assets/466585/10062066/7868

[2015-09-24 00:01] #34 closed, assigned to nobody

[2015-09-24 00:12] sensescape opened #38 "Style roads/paths in landuse nature reserve"
<img width="741" alt="screen shot 2015-09-23 at 5 11 09 pm" src="https://cloud.githubusercontent.com/assets/466585/10062315/3c7e11b6-6216-11e5-8a46-d835c52d76df.png">

http://localhost:8000/#16/41.8698/12.5045

[2015-09-24 16:40] nvkelso commented on #5
Suggest moving the default path sort order **below** the highways. That should probably be done upstream with https://github.com/mapzen/vector-datasource/issues/239.

[2015-09-24 18:38] sensescape commented on #38
<img width="762" alt="screen shot 2015-09-24 at 11 37 48 am" src="https://cloud.githubusercontent.com/assets/466585/10082872/b9cdb258-62b0-11e5-911c-8d54415a0477.png">

[2015-09-24 18:38] #38 closed, assigned to nobody

[2015-09-24 18:40] sensescape commented on #25
new color
<img width="539" alt="screen shot 2015-09-24 at 11 39 35 am" src="https://cloud.githubusercontent.com/assets/466585/10082935/02b26d7e-62b1-11e5-80b1-f4679c941b65.png">

[2015-09-24 18:44] sensescape opened #39 "BLOCKED: Ferry lines show at z7-8 then disappear"
- [x] Tiles have functional data (prototype with Natural Earth only)
- [ ] Tiles have all data (needed OSM additions)
- [x] Functional style
- [ ] Styling polish

http://localhost:8000/#7/40.181/2.049

[2015-09-24 18:46] sensescape commented on #25
not sure about this color yet

[2015-09-24 19:00] nvkelso commented on #39
Blocked by missing data in tiles: https://github.com/mapzen/vector-datasource/issues/187

[2015-09-24 19:01] nvkelso commented on #38
Can we improve the visual distinction between paths and water lines?

On Thu, Sep 24, 2015 at 11:38 AM, Geraldine Sarmiento <
notifications@github.com> wrote:

[2015-09-24 19:02] sensescape commented on #31
More progress on tunnels, recolored to a grayer orange (the paths look like they're floating less than before)
<img width="671" alt="screen shot 2015-09-24 at 12 00 16 pm" src="https://cloud.githubusercontent.com/assets/466585/10083608/0e557cae-62b4-11e5-81bc-f9a8ce0c8516.png">
http://localhost:8000/#16/40.3986/-3.7108

[2015-09-24 19:08] sensescape commented on #31
Seems to be working ok, let's see
<img width="465" alt="screen shot 2015-09-24 at 12 07 48 pm" src="https://cloud.githubusercontent.com/assets/466585/10083834/f51341a8-62b4-11e5-904e-4f4ec727eecb.png">
http://localhost:8000/#16/40.4671/-3.6030

[2015-09-24 19:25] sensescape commented on #38
Yes, definitely. Those colors are too close to each other, can't distinguish.

[2015-09-24 19:40] nvkelso commented on #31
Really dig this :)

On Thu, Sep 24, 2015 at 12:08 PM, Geraldine Sarmiento <
notifications@github.com> wrote:

[2015-09-24 22:09] sensescape commented on #36
<img width="778" alt="screen shot 2015-09-24 at 3 05 19 pm" src="https://cloud.githubusercontent.com/assets/466585/10088240/4cd72a9e-62ce-11e5-9aac-ab24ae1f4e73.png">

[2015-09-24 23:10] sensescape commented on #37
Recolored taxiways and runway outlines

<img width="105" alt="screen shot 2015-09-24 at 4 09 13 pm" src="https://cloud.githubusercontent.com/assets/466585/10089304/cd6c607c-62d6-11e5-8509-58d416718747.png">
<img width="782" alt="screen shot 2015-09-24 at 4 09 34 pm" src="https://cloud.githubusercontent.com/assets/466585/10089305/d2ee274c-62d6-11e5-8b22-ff383ed7fbbd.png">

[2015-09-25 07:38] nvkelso commented on #20
Let's prototype with `population`.

[2015-09-25 07:39] nvkelso commented on #10
Done.

[2015-09-25 07:39] #10 closed, assigned to nobody

[2015-09-25 07:40] nvkelso commented on #6
Blocked by: https://github.com/mapzen/vector-datasource/issues/210

[2015-09-25 07:42] nvkelso commented on #2
Let's @bcamper, @zerebubuth, @sensescape and @nvkelso brainstorm about this one. I suspect it will require combination of server and client work.

[2015-09-25 12:07] bcamper commented on #2
I think the issue here is not the entire cap, but just the outline stroke
of the cap. Those are drawn directly under the line fill by default, but we
can control the order of it separately in the scene file if we have the
right data to filter on.

On Friday, September 25, 2015, Nathaniel V. KELSO notifications@github.com
wrote:

[2015-09-28 19:14] sensescape commented on #21
Fixed the casing:
<img width="393" alt="screen shot 2015-09-28 at 12 13 35 pm" src="https://cloud.githubusercontent.com/assets/466585/10145846/6cf36676-65da-11e5-929e-1405629c9571.png">

[2015-09-28 19:33] nvkelso commented on #21
nice!

On Mon, Sep 28, 2015 at 12:14 PM, Geraldine Sarmiento <
notifications@github.com> wrote:

[2015-09-28 22:47] sensescape opened #41 "z5 city labels are sparse"
- [x] Tiles have data
- [x] Functional style
- [x] Styling polish

<img width="626" alt="screen shot 2015-09-28 at 3 46 01 pm" src="https://cloud.githubusercontent.com/assets/466585/10151020/3e644e42-65f8-11e5-97ca-67047e701ac4.png">

[2015-09-28 22:52] sensescape opened #42 "Add city label hierarchy to z levels 5-12"
- [x] Tiles have data
- [x] Functional style
- [ ] Styling polish

Add 2-3 levels per zoom

Looks like this now:
<img width="436" alt="screen shot 2015-09-28 at 3 51 47 pm" src="https://cloud.githubusercontent.com/assets/466585/10151092/de4ba7ca-65f8-11e5-8911-3b7a794cca18.png">

[2015-09-28 23:26] sensescape opened #43 "Fix neighborhood labels"
- [x] Functional data in tiles
- [x] Polish data in tiles
- [x] Functional styling
- [x] Polish styling

Label content need improvement
<img width="304" alt="screen shot 2015-09-28 at 4 24 45 pm" src="https://cloud.githubusercontent.com/assets/466585/10151553/9bb07922-65fd-11e5-8e79-451ea7c6fcdf.png">

[2015-09-28 23:30] sensescape commented on #43
<img width="295" alt="screen shot 2015-09-28 at 4 30 33 pm" src="https://cloud.githubusercontent.com/assets/466585/10151622/45cdc2e8-65fe-11e5-89ff-bca2f17c4019.png">

[2015-09-29 00:04] sensescape commented on #20
Added population filter for z5, it fixed this:
<img width="298" alt="screen shot 2015-09-28 at 5 03 57 pm" src="https://cloud.githubusercontent.com/assets/466585/10152060/ef786a56-6602-11e5-8384-71f15edb30cf.png">

but labels for Mexico, Canada and most of Africa are missing

[2015-09-29 00:05] sensescape commented on #20
https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L2235-L2241

[2015-09-29 00:29] sensescape commented on #19
<img width="288" alt="screen shot 2015-09-28 at 5 29 24 pm" src="https://cloud.githubusercontent.com/assets/466585/10152406/7d1f5baa-6606-11e5-9bf1-5337675c8847.png">

[2015-09-29 18:33] #4 closed, assigned to nobody

[2015-09-29 18:35] tallytalwar opened #45 "mipmaps for pois"
- [ ] Just do it

Does it make sense for pois to have mipmap filtering?

Refer: https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L117

[2015-09-29 18:38] sensescape opened #46 "Add more space between the dots in new dot interpolation shader"
The dots are so close together, it's making the color more intense. Could we add more space to the dots. Or match this:
<img width="679" alt="screen shot 2015-09-29 at 11 32 02 am" src="https://cloud.githubusercontent.com/assets/466585/10174334/2cff962e-669e-11e5-8de8-e2063c065d31.png">
https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L719-L725

Here's how it looks with the new

[2015-09-29 18:44] sensescape commented on #26
<img width="404" alt="screen shot 2015-09-29 at 11 44 16 am" src="https://cloud.githubusercontent.com/assets/466585/10174592/72024996-669f-11e5-9257-57feb8c302dd.png">

[2015-09-29 18:50] patriciogonzalezvivo commented on #46
Hello Geraldine, to space the dots you need to scale the space up (first argument of `TileDots()`) and reduce the radius of the dots (second argument of `TileDots()`).
You can try it your self here http://tangrams.github.io/tangram-play/?style=https://raw.githubusercontent.com/tangrams/eraser-map/gh-pages/eraser-map.yaml&lines=725

![screen shot 2015-09-29 at 2 47 55 pm](https://cloud.githubuserco

[2015-09-29 18:55] patriciogonzalezvivo commented on #26
a more comprehensive way of writing that is:

[code]

At http://tangrams.github.io/tangram-play/?style=https://raw.githubusercontent.com/tangrams/eraser-map/gh-pages/eraser-map.yaml&lines=783-786#16.42333333333333/40.76963/-73.98839

![screen shot 2015-09-29 at 2 53 27 pm](https://cloud.githubusercontent.com/assets/346914/10174878/facf5a88-66b9-11e5-8860-029933a599ff.png)

[2015-09-29 19:21] nvkelso commented on #43
Blocked on: https://github.com/mapzen/vector-datasource/issues/147

[2015-09-29 19:25] nvkelso commented on #45
@tallytalwar What alternative should we use?

[2015-09-29 19:26] tallytalwar commented on #45
I am not sure, but I believe we do not need any filtering for icons! Karim can add more on it though.

[2015-09-29 19:28] sensescape opened #47 "Update dot-rev shader to new dot interpolation"
- [x] Tiles have data
- [x] Functional style
- [ ] Styling polish

used in playgrounds and parking lots

<img width="128" alt="screen shot 2015-09-29 at 12 27 35 pm" src="https://cloud.githubusercontent.com/assets/466585/10175773/97c9e5ca-66a5-11e5-96ae-813080d56c31.png">

[2015-09-29 20:05] karimnaaji commented on #45
Mipmapping basically optimize rendering of icons when they are scaled at a bigger/smaller ratio than their original size. So actually if we don't drastically modify the `size` param on any of the sprite/icons this would save us minimal memory. For eraser-map we would be ok not specifying any filtering and using the default one.

[2015-09-29 22:15] nvkelso commented on #45
We do scale the images (in EraserMap), though?

[2015-09-29 22:59] sensescape commented on #26
fixed!

<img width="393" alt="screen shot 2015-09-29 at 3 58 16 pm" src="https://cloud.githubusercontent.com/assets/466585/10180565/149991be-66c3-11e5-8def-a18f2d188a0b.png">

[2015-09-29 23:36] karimnaaji commented on #45
Right, just been checking the actual reductions, it would make sense to use this if the reduction is more than half of the original icon size. But personally, I would recommend to use this filtering only when the texture is applied in 3d perspective. I experienced issues when neighboring icons were blurred together during the mipmap process which can cause some annoying artifacts on borders (if we

[2015-09-29 23:46] nvkelso commented on #45
It’s super easy to space the assets farther apart in the sprite sheet, btw.

(They used to be farther apart, but Patricio needed them piled on top of
each other for a Tangram experiment and we never spaced them back out.)

On Tue, Sep 29, 2015 at 4:36 PM, Karim Naaji notifications@github.com
wrote:

[2015-09-29 23:57] karimnaaji commented on #45
Oh ok I see. If we notice any artifacts,  with this specific filtering we'd try different spacing, for now we can let it as is.

On Tue, Sep 29, 2015 at 7:46 PM, Nathaniel V. KELSO
notifications@github.com wrote:

[2015-09-30 15:46] karimnaaji commented on #45
To expose more clearly what I was saying yesterday, this is what happens when you provide this filtering which generate those images (where each of them is half the size of the previous one):

Level0:
<img src="https://cloud.githubusercontent.com/assets/7061573/10197837/73333672-6767-11e5-8002-4fa9490c2d00.png" width="256">
Level1:
<img src="https://cloud.githubusercontent.com/assets/7061573/10197

[2015-09-30 15:51] nvkelso commented on #45
Cool, thanks for researching. Is the recommended fix to remove line https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L117?

[2015-09-30 15:52] karimnaaji commented on #45
Yep

[2015-09-30 16:04] karimnaaji commented on #45
To visualize how it renders in ES, by aggressively scaling down the size icons:

Default:
<img src="https://cloud.githubusercontent.com/assets/7061573/10198680/0f4bcfd0-676b-11e5-9018-f321099e55e1.png" width="210">
Mipmaps:
<img src="https://cloud.githubusercontent.com/assets/7061573/10198671/0262c986-676b-11e5-89ee-fff4c7ae63bc.png" width="210">

[2015-09-30 21:30] #46 closed, assigned to nobody

[2015-09-30 21:31] sensescape commented on #36
added but needs more styling

[2015-09-30 21:43] nvkelso commented on #41
This looks better in Skin and Bones, let's rebase against that.

[2015-09-30 21:44] nvkelso commented on #39
Data isn't landing for another couple weeks, sorry.

[2015-09-30 21:47] nvkelso commented on #37
Could use more polish, but working pretty good now :)

Looks like we're missing runways from tiles earlier than zoom 11. Those are bucketed with minor_road, and just the runways should be coming in at zoom 9. That requires a query change: https://github.com/mapzen/vector-datasource/issues/278.

[2015-09-30 21:49] nvkelso commented on #35
Very noticeable, but LOE to fix is high.

[2015-09-30 21:51] nvkelso commented on #29
@zerebubuth What server logic with respect to default landuse ordering do we need to change so zoos are included in the landuse_kind intercut?

[2015-09-30 21:52] nvkelso commented on #28
@zerebubuth another `landuse_kind` server side sorting problem?

[2015-09-30 21:53] #21 closed, assigned to nobody

[2015-09-30 21:54] nvkelso commented on #17
Dup of: https://github.com/tangrams/eraser-map/issues/26

[2015-09-30 21:54] #17 closed, assigned to nobody

[2015-09-30 21:55] nvkelso commented on #16
@bcamper and @patriciogonzalezvivo for help optimizing the YAML filters.

[2015-09-30 21:56] nvkelso commented on #15
This was committed.

[2015-09-30 21:56] #15 closed, assigned to nobody

[2015-09-30 21:56] nvkelso commented on #14
Fixed.

[2015-09-30 21:56] #14 closed, assigned to nobody

[2015-09-30 21:57] nvkelso commented on #12
This has been fixed (thanks Brett).

[2015-09-30 21:57] #12 closed, assigned to nobody

[2015-09-30 21:57] #8 closed, assigned to nobody

[2015-09-30 21:58] nvkelso commented on #5
Closing this in favor of the vector-datasource fix.

[2015-09-30 21:58] #5 closed, assigned to nobody

[2015-09-30 21:59] bcamper commented on #16
No problem. To clarify, is this the desired logic:
- at z14, a subset of buildings render as footprint
- at z15, that same subset from z14 is now extruded, and all remaining buildings are drawn as footprint
- at z16, all buildings are extruded

Is that right?

[2015-09-30 22:00] nvkelso opened #48 "New icon set for Eraser Map"
- [x] Data is in tiles
- [x] Functional icon set
- [x] Functional styling in scene file
- [x] Polish icon set priority 1a
- [x] Polish icon set priority 1b
- [x] Polish icon set priority 1a, redux
- [ ] Polish styling

[2015-09-30 22:07] bcamper commented on #16
Hm, looks like not all buildings are extruded until z17, but I still can't tell entirely what is supposed to happen, so please clarify :)

[2015-09-30 22:23] sensescape commented on #16
z14 - Yes, at z14 as a transition to the buildings that will get extruded at z15, their footprints show.
z15 - bldg footprints with height: { min: 190 } get extruded, while all buildings footprints with  area: { min: 500 } show
z16 - footprints with area: { min: 100 } show and buildings with height: { min: 100 } get extruded

These filters are being used for extrusion:
https://github.com/tangrams/

[2015-09-30 22:25] sensescape commented on #16
This is the building extrusion code from Peter:
https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L757-L767

[2015-09-30 22:58] sensescape commented on #26
with new roof colors:
<img width="258" alt="screen shot 2015-09-30 at 3 57 34 pm" src="https://cloud.githubusercontent.com/assets/466585/10208973/17009794-678c-11e5-9d45-c340b6083f96.png">
<img width="209" alt="screen shot 2015-09-30 at 3 58 34 pm" src="https://cloud.githubusercontent.com/assets/466585/10208976/21577a78-678c-11e5-8314-b5a9eb21c633.png">

[2015-09-30 22:59] nvkelso commented on #16
There’s duplication: the buildings that are extruded should be extruded,
but right now they also draw as **not** extruded first, then another pass
for extruded over them.

On Wed, Sep 30, 2015 at 3:25 PM, Geraldine Sarmiento <
notifications@github.com> wrote:

[2015-09-30 22:59] nvkelso commented on #26
Nice! Can the not-extruded footprints get the same roof color?

On Wed, Sep 30, 2015 at 3:58 PM, Geraldine Sarmiento <
notifications@github.com> wrote:

[2015-10-01 20:01] bcamper commented on #16
Working on this here: https://github.com/tangrams/eraser-map/compare/simplify-buildings

[2015-10-02 17:16] nvkelso commented on #37
The airport icons needed to be visible earlier, I've fixed that in Skin & Bones so let's rebase.

[2015-10-04 02:41] bcamper commented on #16
Addressed by PR #50.

[2015-10-04 02:42] bcamper commented on #16
@nvkelso @sensescape moved this up to priority 2 because of performance concerns.

[2015-10-08 20:54] sensescape opened #51 "ANDROID: tilted buildings grid pattern is broken"
![screenshot_2015-10-08-13-51-34](https://cloud.githubusercontent.com/assets/466585/10379581/e92e4026-6dc3-11e5-86df-3936840dca51.png)

When I tilt the map, the grid shader doesn't draw on the extruded buildings
cc @bcamper @patriciogonzalezvivo @nvkelso

[2015-10-08 20:55] bcamper commented on #51
Also cc @blair1618

[2015-10-08 21:23] matteblair commented on #51
Ah yes, one of many known issues at the moment :)

The android build no longer has the very latest stylesheet, this behavior may be different after Brett's changes to building styles but it may still be broken in the very latest stylesheet because of how normal vectors are interpreted.

The `normal` that is available in shader blocks is the surface normal _oriented relative to the camera_. This me

[2015-10-09 15:15] bcamper commented on #45
@karimnaaji in JS, we default to `linear` filtering (not `nearest` which visually is "no" filtering) if no filtering is specified. I really think `mipmap` is overkill in most of these cases (likely for POIs anyway). It makes sense for bigger textures, like those world texture experiments Patricio was doing, or perhaps larger area decals? Also, in WebGL, mipmapping is not supported for non-power-of

[2015-10-09 15:15] bcamper commented on #51
@blair1618 so do we have it tracked to fix this?

[2015-10-09 15:16] bcamper commented on #16
#50 was merged so this should be done.

[2015-10-09 15:16] #16 closed, assigned to nobody

[2015-10-09 15:40] nvkelso commented on #45
Using linear would probably fix a bug I’ve seen where specifying sizes not
clean fractions of the original has no affect.

On Fri, Oct 9, 2015 at 8:15 AM, Brett Camper notifications@github.com
wrote:

[2015-10-09 16:18] matteblair commented on #51
May be fixed with the changes you made to building styles, so I'm gonna
re-evaluate when we get those changes in the Android build
On Oct 9, 2015 11:16 AM, "Brett Camper" notifications@github.com wrote:

[2015-10-09 16:19] bcamper commented on #2
@sensescape do you have good examples where I can see this?

[2015-10-09 16:21] bcamper commented on #51
I'm not optimistic, I don't believe I changed anything relating to normals
:)  Oh I was going to do that change to move the surface calculation to the
vertex shader, perhaps that's what you mean (that was not in the PR)... I'm
not sure that changes this though.

On Fri, Oct 9, 2015 at 12:18 PM, Matt Blair notifications@github.com
wrote:

[2015-10-09 16:29] bcamper commented on #45
Um, strange, can you elaborate / have an example? That should not be the case.

[2015-10-09 16:35] sensescape commented on #2
Here's one example:
http://localhost:8000/#17/37.80199/-122.45861
<img width="231" alt="screen shot 2015-10-09 at 9 33 36 am" src="https://cloud.githubusercontent.com/assets/466585/10399663/dd5aee70-6e68-11e5-8ef8-7c1086d54ac7.png">
<img width="189" alt="screen shot 2015-10-09 at 9 33 39 am" src="https://cloud.githubusercontent.com/assets/466585/10399662/dd5a948e-6e68-11e5-83f9-be25a082ebbe.png">

[2015-10-09 16:38] sensescape commented on #2
Another:
http://localhost:8000/#17/40.72369/-74.00750
<img width="253" alt="screen shot 2015-10-09 at 9 37 45 am" src="https://cloud.githubusercontent.com/assets/466585/10399749/81637ac8-6e69-11e5-82b1-92319c52764c.png">

[2015-10-09 16:47] sensescape commented on #2
I would like the round cap here to smoothen the transition for the different road types.
I'm not sure if this is working:
https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L1104

<img width="742" alt="screen shot 2015-10-09 at 9 44 25 am" src="https://cloud.githubusercontent.com/assets/466585/10399949/bab0a5f2-6e6a-11e5-95ae-b89b0196c31f.png">

http://localhost:8000/#17/37.76917

[2015-10-09 16:52] sensescape commented on #2
http://localhost:8000/#17/40.75633/-73.99643
<img width="630" alt="screen shot 2015-10-09 at 9 52 21 am" src="https://cloud.githubusercontent.com/assets/466585/10400076/7ec4c5ea-6e6b-11e5-828c-5760ddef65d3.png">

[2015-10-09 17:35] bcamper commented on #2
@sensescape I believe that `round` rule is working based on most of your screenshots having round caps :)  But it may be overridden in some cases like this, where it's explicitly set to butt? https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L1123

[2015-10-09 17:43] zerebubuth commented on #2
@bcamper I was thinking about the transition between roads, and wondering how flexible we can be with the end caps? For example, if we have the topology (hi, TopoJSON!) then we could find the `max(line_width)` at any shared point and have the incoming segments flare out to that width. It would be even more awesome if we could also do `avg(fill_color)` and blend to that :smile:

It looks like we mi

[2015-10-09 17:58] bcamper commented on #2
@zerebubuth yes I wonder if something cool could be done there. Thinking about a generic Tangram feature, the most straightforward would be to specify some kind of tapering options when drawing lines, like:
- start and end widths, with continuous tapering along the whole line
- tapering caps, e.g. taper from the normal line width up/down to a target taper width, but only at the end of the line seg

[2015-10-09 18:24] bcamper commented on #2
@zerebubuth I guess what I'm asking for is adjacency data in the tiles, like road types that connect at the start and/or end of a road line, so that we could filter and style on that. Like denormalizing the topology into into the geometry properties. Using actual topology could be cool too, though it also implies a format like TopoJSON that can encode it? We'd be going offroad with the MVT format

[2015-10-09 18:35] zerebubuth commented on #2
@bcamper We can try recovering adjacency data in the same way we do for TopoJSON tiles. The difficulty might be if we have any joins which don't occur at the first or last point in the linestring. Keeping the topology through the tile generation process is something that I'm really interested in doing for other reasons (e.g: simplifying boundaries properly, generalising networks without introducin

[2015-10-09 20:54] karimnaaji commented on #45
There's is support for NPOT on desktop, but not on Opengl ES 2.0 (at least for mipmap generation) without using extensions (or on some devices without extensions, but I've seen it working on some devices without doing anything, which depends on the driver), if we want to use mipmap for anything we would need to use power-of-2 textures. Also, there's no fallback on this right now on ES, but I'll fo

[2015-10-14 05:30] nvkelso commented on #41
This was rebased.

[2015-10-14 05:30] #41 closed, assigned to nobody

[2015-10-23 17:11] nvkelso opened #54 "Create mobile branch of Tangram scene assets for use in android builds"

[2015-10-23 17:25] nvkelso commented on #35
@bcamper do you think the Tangram piece of this can be fixed in a couple weeks? Or should we pull these / restyle them for initial release?

[2015-10-23 17:47] bcamper commented on #35
@patriciogonzalezvivo and I started looking but it's blocked by some other line work (for level-of-detail adjustment to avoid high polygon counts) first. We may be able to address in JS by then, but probably not ES, so let's defer and plan to revisit soon (will keep working on it on JS side).

[2015-10-23 17:50] bcamper commented on #54
Are there any known divergences between JS and ES that necessitate this currently? Obviously the goal is parity so the scene file is interchangeable, but pragmatically understand that we may need some small divergence in initial release if we can't get there.

[2015-10-23 18:34] matteblair commented on #54
The issue isn't differences in the scene file per se, rather that the
eraser map style repo has a lot of things that we don't want to bundle in
an apk (js files, readme, etc)

The idea here is to make a repo/branch that has just the scene file and
assets for Android to pull in as a submodule.
On Oct 23, 2015 10:50 AM, "Brett Camper" notifications@github.com wrote:

[2015-10-23 18:39] sensescape opened #55 "BLOCKED: Add line breaks to POI labels"
This would significantly improve the quality of our labels. @bcamper @nvkelso

<img width="451" alt="screen shot 2015-10-23 at 11 37 02 am" src="https://cloud.githubusercontent.com/assets/466585/10701809/8f22bd92-797a-11e5-978c-a5063a8f4c4d.png">

[2015-10-23 19:52] bcamper commented on #55
Yes I know :)  Plan to look at this soon on the Tangram side.

[2015-10-23 19:54] bcamper commented on #54
Is that significantly better than a simple makefile step that pulls them in over the network? They can still be pegged to specific version/commit. I think in terms of what we need vs. don't, I think we could have a simple pattern like "the `eraser-map.yaml` file + everything in a `resources/` dir". Anyway either will work, just different maintenance between them.

[2015-10-23 20:10] nvkelso commented on #55
Is there a Tangram issue we can block this styling issue on, please?

On Fri, Oct 23, 2015 at 12:52 PM, Brett Camper notifications@github.com
wrote:

[2015-10-23 20:28] bcamper commented on #55
In trello (may end up migrating them to github but not immediately): https://trello.com/c/0dvqDBQR/444-multi-line-labels

[2015-10-26 15:45] nvkelso commented on #54
If there aren't any substantial changes between WebGL styling and ES styling, then there's no need for another branch and https://github.com/mapzen/eraser-map/issues/67 can be pursued alone. Ekta's been consistent in her feedback that they will diverge eventually. So seems like fix https://github.com/mapzen/eraser-map/issues/67 and hold off on this issue until it's a problem.

[2015-10-26 16:02] bcamper commented on #54
I would really like to try to keep them consistent... so let's assume they will be to start (platform compatibility allowing), and we'll address aesthetic or usability concerns later.

[2015-10-26 21:23] sensescape opened #57 "Ability to control road label spacing"
To lessen the number of repeated labels on a line. @bcamper @nvkelso

<img width="277" alt="screen shot 2015-10-26 at 2 21 37 pm" src="https://cloud.githubusercontent.com/assets/466585/10742916/0c8993c2-7bed-11e5-84e0-c969c8cc11eb.png">

[2015-10-26 21:40] sensescape commented on #57
<img width="428" alt="screen shot 2015-10-26 at 2 39 59 pm" src="https://cloud.githubusercontent.com/assets/466585/10743307/7d34c748-7bef-11e5-8982-d3b5fb9bbb73.png">

[2015-10-26 22:30] #51 closed, assigned to nobody

[2015-10-26 23:14] nvkelso commented on #57
@bcamper Is there an issue on the Tangram side we can block this against? What's the timeline?

[2015-10-27 00:34] sensescape opened #59 "Add label collision"
on webgl version too

<img width="130" alt="screen shot 2015-10-26 at 5 32 46 pm" src="https://cloud.githubusercontent.com/assets/466585/10746406/d5552a90-7c07-11e5-984d-cd077df13114.png">

[2015-10-27 00:35] sensescape commented on #59
@bcamper @nvkelso

[2015-10-27 01:08] bcamper commented on #59
I'm not sure it makes sense to track feature additions like this that will
be applied automatically -- without any new styling rules -- in a style
repo.

For that matter I'm not sure it's ideal to duplicate some others like label
repeat distance that are blocking on Tangram features... But at least in
those cases it serves as a reminder that we need to come back and update
the style to make use of

[2015-10-27 06:02] nvkelso commented on #59
Any time style needs to be updated in a scene file to enjoy a new Tangram feature, there should be a related "style" issue blocked on the Tangram issue.

Signaling Tangram work priorities is a different matter ;) But to Geraldine's point, not having collisions in WebGL (they do work in ES) makes designing parts of the cartography difficult (it's not just one icon or color, but the combination of s

[2015-10-27 19:56] bcamper opened #60 "Remove uses of ES6 String.includes()"
There are several places where we are using the `String.includes()` method:

https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L2683

This is actually a fairly recent addition (to ES6), and isn't guaranteed to be supported on all browsers (and in this case we found out because it wasn't supported in the JS parser we are using for Tangram ES). Instead, we should stick to ES5-flav

[2015-10-27 20:03] nvkelso commented on #60
Change will be made in Skin & Bones and then rebased into Refill and Eraser Maps.

[2015-10-28 00:10] sensescape commented on #48
Status as of Oct 27, 2015

Outstanding Priority 1 group A:
- [x] airports
- [x] recreation ground
- [x] parking
- [x] subway entrance
- [x] music
- [x] bridges
- [x] pier
- [x] toilets
- [x] generic

Outstanding Priority 1 group B:
- [x] drycleaning
- [x] laundromat
- [x] veterinary
- [x] lighthouse
- [x] archeological site
- [x] recycling
- [x] castle
- [ ] shoemaker
- [x] drinking water
- [ ] la

[2015-10-28 12:25] tallytalwar opened #61 "Order definition for train and subway"
This could be something on the es side. But creating an issue for reference.

![screenshot_2015-10-28-08-23-01](https://cloud.githubusercontent.com/assets/360641/10788427/c77e79fc-7d4d-11e5-8583-ac1af44e4744.png)

![screenshot_2015-10-28-11-05-51](https://cloud.githubusercontent.com/assets/360641/10792720/4a3988da-7d64-11e5-8cc8-2990298e5c28.png)

[2015-10-28 15:34] nvkelso commented on #61
Is this about the rail lines being rendered under the water and park polygons?

Or the strange rendering artifacts on the first image (Miltiades Ave)?

[2015-10-28 15:42] tallytalwar commented on #61
Yeah, there is some order issue, where either some landuse features are not definiting an order, or order being calculated for rail/lightrail/subway/landuse is wrong.

Example: https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L3317, landuse features do not define an order.

[2015-10-28 15:44] tallytalwar commented on #61
If we ignore any feature which does not define an order, this is the result we get for the second image:

![screen shot 2015-10-28 at 11 43 35 am](https://cloud.githubusercontent.com/assets/360641/10793922/4524573a-7d69-11e5-92e8-a34b90f6b010.png)

[2015-10-28 16:01] tallytalwar commented on #61
It seems the discrepancy between web and es, is coming from use of sort-key for subways, [here](https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L1009). And it looks like sort-key is not defined for transit/subways in the tiles.

[code]

[2015-10-28 16:22] nvkelso commented on #61
Related: https://github.com/mapzen/vector-datasource/issues/353

[2015-10-28 16:58] nvkelso commented on #61
I'm confused. Are you saying the `landuse` area is the feature missing `sort_key`, not the transit layer's rail feature?

[2015-10-28 17:00] tallytalwar commented on #61
Nopes, ignore the initial investigation commit, `sort_key` is missing on the transit layer.

[2015-10-28 17:49] nvkelso opened #62 "Sprite atlas needs to be smaller than 2048 x 2048"
Else it won't work on older phones.

Update the Illustrator export script so it packs tighter (but not as tight as before).

[2015-10-28 19:12] tallytalwar commented on #61
So with recent changes to es, any feature not defining an `order`, `color` or `width` (defined `width` being greater than 0) will be ignored.

In this case, since transit features do not define `sort_key` and hence have a `NAN` order evaluated (based on the current order evaluation in the style sheet, [here](https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L1009)), will be igno

[2015-10-28 20:15] nvkelso commented on #61
Shouldn't it default to 0 when data not provided (rather than not draw)?

Sent from my handsful device.

[2015-10-28 20:17] tallytalwar commented on #61
Defaulting to 0, could result in features lying at the same z depth and hence could result in z-fighting for those features.

However, we can provide debug/edit mode drawing for such features, with an error color.

[2015-10-28 20:30] matteblair commented on #61
More importantly, if we fall back to any default "order" value then elements will be layered according to the order of styles in the scene, which cannot be guaranteed to be consistent (even among browsers!).

In other words, a default order would mislead people into thinking that their scene is correct when it really only looks a certain why by pure chance.

[2015-10-29 01:43] tallytalwar commented on #60
9b66dc7e63b26e836348911c99799c40d5ce808f fixes this in android branch.

[2015-10-29 18:12] nvkelso opened #63 "Add and style road labels"

[2015-10-29 18:14] nvkelso opened #64 "Style route start, stop pins"
During the routing experience, the design shows route-start and route-end pins. Let's add those to the sprite sheet and add scene file styling for them.

[2015-10-29 21:54] nvkelso commented on #57
Related: road geoms in tiles could be aggregated at low- and mid-zooms
- https://github.com/mapzen/vector-datasource/issues/358

[2015-10-29 22:34] matteblair opened #65 "Building grid texture not visible on certain phones"
Extruded buildings should have a grid texture sampled from `building-grid.gif`:
![screen shot 2015-10-29 at 6 28 06 pm](https://cloud.githubusercontent.com/assets/3371850/10833776/e3191d0c-7e6a-11e5-9209-4ca407384568.png)

This works as expected on desktop, iOS, and most Android devices. However, on the Moto X (2014) and the Galaxy S5, the grid is not visible:
![screenshot_2015-10-29-18-23-16](htt

[2015-10-29 22:37] tallytalwar commented on #65
You already know this, but for documentation, I did see the building grid texture on my S5 this morning.

[2015-10-30 16:00] tallytalwar opened #66 "Style Route Icon"
https://github.com/tangrams/eraser-map/blob/android/eraser-map.yaml#L764-L787

Currently a route icon layer is missing all together, I am going to add one as a placeholder in the android branch, for it to be used in eraser-map app code.

[2015-10-30 16:02] nvkelso commented on #66
Please add it in the main branch, too, so there are less merge conflicts later. (Web map will need this.)

Sent from my handsful device.

[2015-10-30 16:02] tallytalwar commented on #66
Cool, will do and rebase android branch. Thanks

[2015-10-30 17:56] sensescape opened #69 "Water grid texture not visible on phone"
Don't see it on Galaxy S6 Edge

@blair1618 @tallytalwar

![screenshot_2015-10-30-10-51-02-2](https://cloud.githubusercontent.com/assets/466585/10853715/bf51c5f6-7ef4-11e5-9d8f-793a0c032022.png)

[2015-10-30 17:59] tallytalwar commented on #69
@sensescape can you try the latest build from android.mapzen.com? For me its working on S5.

[2015-10-30 18:25] matteblair commented on #69
I've observed this on other phones as well (using the latest code and
styles). This is an unfortunate consequence of differences in GLSL
compilers among devices.

Most devices (and all webgl implementations) tolerate shaders that contain
incomplete function definitions so long as the function isn't called inside
the main method, but on some devices this will cause the shader to not
compile. We use

[2015-10-30 18:40] sensescape commented on #69
@tallytalwar Yes, I tried the latest. I'll try it again. Thanks! Yes @blair1618 , what's your recommendation? Shall we have 2 types of shaders then? Let me know how I can help.

[2015-10-30 20:39] nvkelso commented on #64
From the duplicate issue:

[2015-10-30 20:40] nvkelso commented on #66
This is a duplicate of: https://github.com/tangrams/eraser-map/issues/64.

[2015-10-30 20:40] #66 closed, assigned to nobody

[2015-10-30 20:42] nvkelso commented on #69
@blair1618 and @tallytalwar Is this a regression, though? Both Geraldine and I remember this working before (but as those things go...).

[2015-10-30 20:43] nvkelso commented on #65
@blair1618 Is there a styling ask here or is this a Tangram bug?

[2015-10-30 20:45] tallytalwar commented on #65
Most likely this is on the tangram side, but as of now we do not know why certain phones including s5 are not showing building grid texture.

[2015-10-30 20:46] nvkelso opened #70 "New icon set for Eraser Map (priority 2)"
Splitting this off into it's own issue from: https://github.com/tangrams/eraser-map/issues/48.

[2015-10-30 20:46] nvkelso opened #71 "New icon set for Eraser Map (priority 3)"
Splitting this off into it's own issue from: https://github.com/tangrams/eraser-map/issues/48.

[2015-10-30 20:48] matteblair commented on #69
Yes, this is a regression (on certain devices).

I'll create a fix on the Android branch (using the gh-pages branch is
blocked for us by the 0.4 release of Tangram and the icon texture size).
On Oct 30, 2015 4:42 PM, "Nathaniel V. KELSO" notifications@github.com
wrote:

[2015-10-30 20:48] nvkelso commented on #23
Assigning to Ekta to provide artwork asset to Geraldine.

[2015-10-30 21:03] souperneon commented on #23
@nvkelso @sensescape I sent these over email the other day. There are png's for all android sizes and an .ai files with raw assets.
Green pin the active/selected pin and dark grey is inactive

[2015-10-30 21:12] nvkelso commented on #57
- Buffering / bounding box around individual labels within a layer (each layer needs to set a different buffer). @bcamper to add new Tangram bug.
- Stitching segments together to create longer runs with predictable spacing. Related: https://github.com/mapzen/vector-datasource/issues/358.

[2015-10-30 21:25] nvkelso commented on #61
- Some landuse features are missing their data property: https://github.com/mapzen/vector-datasource/issues/364
- Style should set default: order: function() { return feature.sort_key || 1; }
- Larger Tangram policy question can be dealt with later.

[2015-10-30 21:26] blair1618 commented on #65
@tallytalwar @nvkelso It's actually not anything we can solve within tangram - it's an issue with the custom shaders in the eraser-map scene file and the limitations of certain devices. I'm pretty confident that if you loaded the WebGL version of eraser-map on those devices you would see similar issues.

[2015-10-30 21:28] nvkelso commented on #55
This is in Tangram v0.4 on by default.

Let's leave this open to refine the 15 char width.

[2015-10-30 21:29] #26 closed, assigned to sensescape

[2015-10-30 21:31] tallytalwar commented on #65
@blair1618 I don't think we can guarantee that WebGL version on these devices would show similar issues. Possible browser masks certain issues.

Example, previously the dots style issue (now fixed) was not working on S5 tangram-es, but was working in the web renderer on S5 chrome.

[2015-10-30 21:32] nvkelso commented on #2
I need to draw some pictures.

[2015-10-30 21:36] bcamper commented on #69
@blair1618 do you know what the offending GLSL is?

[2015-10-30 21:41] matteblair commented on #69
https://github.com/tangrams/eraser-map/blob/android/eraser-map.yaml#L467

The dilemma is:

If `TileCoords` is defined in both the vertex and fragment shader, the dots style doesn't work correctly on some set of phones (the reason for this is a bit of a mystery).

If `TileCoords` is not defined in both the vertex and fragment shader, the GLSL compilers on some phones won't compile the style (even t

[2015-10-30 23:49] nvkelso opened #72 "Route line is too thin"
Looks like it doesn't have a `px` unit on it, and really this should change to `m` around zoom 16.
- [x] Basic styling
- [x] Speculative fix
- [x] Polish fix

![screenshot_2015-10-30-15-57-17](https://cloud.githubusercontent.com/assets/853051/10860900/b378ec3a-7f2d-11e5-8c64-e52ab5c13a24.png)

[2015-11-02 17:11] tallytalwar commented on #69
120f6d1 should fix water grid on these selective devices (s6 s6-edge).

[2015-11-02 23:25] sensescape opened #74 "Add inlay to road labels for label occlusion"
<img width="224" alt="screen shot 2015-11-02 at 12 04 06 pm" src="https://cloud.githubusercontent.com/assets/466585/10897397/e5759040-8175-11e5-9b9a-83a98d77abe6.png">

[2015-11-03 00:03] matteblair commented on #74
To clarify, you'd like extruded buildings to occlude road labels? Would that not make road labels rather hard to read in places like NYC? This will be a bit of a challenge to implement in tangram-es, so I just want to make sure we _really really_ want it.

[2015-11-03 00:38] sensescape commented on #74
This is a nice detail to have for our road labels. And the filtering of extruded buildings per zoom and the z-axis tilt effect already help not to hide many road labels.
I thought I could use it since we had it working here:
https://trello.com/c/gS5T3NJS
But Brett says text styles aren't aware of each other yet, which means the inlay and overlay text styles would overlap.
So shall I make this prio

[2015-11-03 19:43] bcamper opened #75 "Need to bundle font"
On ES, labels right now are displaying with a default Android font because Helvetica isn't available. We need to bundle a font with the scene/app. We may not be able to use Helvetica for licensing reasons, so we need to find an appropriate free alternative, such as Arial.

[2015-11-03 19:43] bcamper commented on #75
cc @sensescape @nvkelso

[2015-11-03 20:34] matteblair opened #76 "Draw route lines on top of labels"
We should be able to change the drawing order of route lines by using the `overlay` blend mode for the style that draws them.

[2015-11-06 16:55] tallytalwar commented on #75
https://github.com/tangrams/tangram-es/pull/387, uses aliases defined in android's font.xml.
`helvetica` gets mapped to `sans-serif` which uses `Roboto` ttf files.

[code]

[2015-11-06 17:23] bcamper commented on #75
Oh I see. So it's good to support the aliases. But for styling quality, we want the real font, not the generic sans serif. So it looks like we still need to bundle something (though probably not Helvetica due to licensing).

[2015-11-06 17:26] tallytalwar commented on #75
Yup. I agree sans-serif will not give desired styling quality.

[2015-11-06 20:19] tallytalwar commented on #65
Update on this:
- Still broken on S5 (5.0) and MotoX (5.1)
- Works on S5 (4.4).
- Does not work with another test 128x128 png texture image. So not specific to a gif texture.
- Seems to be an issue with usage of `v_texcoords` in global injected functions. (material block specifically). We saw something similar with usage of `TileCoords` method which was causing issues with rendering of `dots` styl

[2015-11-09 17:12] sensescape opened #78 "Add arrows for one-way streets"

[2015-11-10 01:12] #60 closed, assigned to nvkelso

[2015-11-10 20:12] matteblair commented on #76
Also search pins, current location pin, and directional arrow should be drawn above all labels

[2015-11-10 23:52] #69 closed, assigned to matteblair

[2015-11-12 00:29] nvkelso opened #85 "Stroke the water boundaries geoms, not the water fills geoms"
We added explicate water line geoms marked with `boundary=yes` attributes a few tile versions ago to solve for this type of thing. This issue covers adopting the new feature sourcing to avoid the water edge stroke in the middle of the water feature (should only be on the shoreline).

12/38.0799/-121.6636

<img width="583" alt="screen shot 2015-11-11 at 16 27 52" src="https://cloud.githubuserconten

[2015-11-12 01:10] nvkelso commented on #64
@blair1618 @ecgreb Do we need to do anything (more) in the stylesheet for this one?

I already see in the scene file, and @sensescape has packed those assets into the sprite sheet:

[code]

[2015-11-12 01:11] nvkelso commented on #64
(I still see this as a problem in today's EM android build – that the route icons don't draw at all.)

[2015-11-12 01:12] nvkelso commented on #24
From @souperneon Let's try a transparent white fill behind the existing asset to give it more pop.

[2015-11-12 01:13] nvkelso commented on #63
Functional work is complete. Making a new ticket for polish in lower priority.

[2015-11-12 01:14] nvkelso opened #87 "Polish style road labels"
They were added in https://github.com/tangrams/eraser-map/issues/63.

[2015-11-12 01:14] #63 closed, assigned to sensescape

[2015-11-12 01:16] nvkelso commented on #22
We've updated this to dark grey and will test in app.

[2015-11-12 01:16] nvkelso commented on #55
Nothing more to do here except in one-off situations.

[2015-11-12 01:16] #55 closed, assigned to nvkelso

[2015-11-12 01:32] nvkelso commented on #6
This was done a while ago.

[2015-11-12 01:32] #6 closed, assigned to nvkelso

[2015-11-12 01:33] nvkelso commented on #72
Speculative fix looks good to me on device.
File a new radar if field testing requires it.

[2015-11-12 01:33] #72 closed, assigned to nvkelso

[2015-11-12 01:48] nvkelso commented on #43
This data is in dev tiles now, about to go to prod.

[2015-11-12 01:50] nvkelso commented on #74
Over to @bcamper

[2015-11-12 16:58] tallytalwar commented on #64
With respect to style sheet, `priority` is redundant here. `priority` is only used to resolve collision. And since these icons have `collide: false` there is no use of setting `priority`.

[2015-11-12 17:59] #25 closed, assigned to sensescape

[2015-11-20 15:34] ecgreb opened #90 "Directional route location marker"
Right now the route start icon (black pin) is used to show the current position in routing mode. This should instead be a directional arrow icon that can indicate the current position and bearing which moves along the route with the user.

cc @souperneon @sensescape

https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L836

![image](https://cloud.githubusercontent.com/assets/46412

[2015-11-20 15:41] nvkelso commented on #90
@ecgreb Good catch & debug!

Related: What are the element names for the route-start and route-stop icons (like `route-icon`, but different)?

[2015-11-20 15:53] matteblair commented on #90
Do we want the arrow to lay "flat" on the plane of the ground when the view tilts?

[2015-11-20 16:03] ecgreb commented on #90
@nvkelso Route start and stop have not been added to the stylesheet (or app) yet but I would imagine something like this would do the trick:

[code]

[2015-11-20 16:15] souperneon commented on #90
@blair1618 do you have the icon for this? Let's try laying it flat and see what that looks like?

[2015-11-23 19:01] sensescape opened #91 "Optimize icon sizes for all resolutions, default is 2x"
@bcamper @nvkelso

This refers to our discussion at Mapzencon about setting sizes for icons on the stylesheet and avoiding any resizing in the stylesheet if possible (only resizing on the stylesheet for lower resolutions) to avoid any distortion of iconographic symbols.

[2015-11-23 19:22] bcamper commented on #91
Looking at this more I discovered an issue with defaulting sprite sizes: without some additional metadata indicating the intended native resolution for a sprite-sheet, we can't keep the size consistent across retina and non-retina displays. In the meantime we can keep specifying `size` in the scene, but I would like to solve this so that we can automatically size things appropriately, and select d

[2015-11-23 19:25] #61 closed, assigned to nvkelso

[2015-11-23 19:25] #76 closed, assigned to nvkelso

[2015-11-23 20:18] souperneon commented on #90
To clear the confusion, here are the icons:
Current location:
![ic_current_location](https://cloud.githubusercontent.com/assets/6125224/11348551/2d1a64ae-91f5-11e5-9002-dba69d2132e9.png)

Route start:
![ic_pin_a](https://cloud.githubusercontent.com/assets/6125224/11348556/35434b6e-91f5-11e5-90e2-275006881e6d.png)

Route end:
![ic_pin_b](https://cloud.githubusercontent.com/assets/6125224/11348563/3

[2015-11-23 20:24] nvkelso commented on #90
@souperneon Yes, please send that to @sensescape and me so it can be added to the sprite sheet.

[2015-11-24 00:32] nvkelso opened #94 "Service roads draw to thick early"
13/37.7792/-122.4013

<img width="510" alt="screen shot 2015-11-23 at 16 32 10" src="https://cloud.githubusercontent.com/assets/853051/11354369/c9217180-91ff-11e5-8875-0829ac9e4081.png">

[2015-11-24 00:34] nvkelso commented on #94
Fixed via https://github.com/tangrams/eraser-map/commit/bc6ed55ca32102ea2a57f431aae1ec36ba7da712.

<img width="496" alt="screen shot 2015-11-23 at 16 33 46" src="https://cloud.githubusercontent.com/assets/853051/11354399/06ccd5b0-9200-11e5-8daa-b8d0beb2a14c.png">

[2015-11-24 00:34] #94 closed, assigned to nobody

[2015-11-25 05:33] nvkelso commented on #90
Geraldine committed this yesterday and it's working in the app.

[2015-11-25 05:33] #90 closed, assigned to sensescape

[2015-11-25 05:34] nvkelso commented on #64
This was committed yesterday. It's not working yet in the app, but https://github.com/mapzen/eraser-map/issues/135 covers that.

[2015-11-25 05:34] #64 closed, assigned to matteblair

[2015-11-25 05:34] nvkelso commented on #54
We've done away with the android branch!

[2015-11-25 05:34] #54 closed, assigned to matteblair

[2015-11-25 05:36] nvkelso commented on #24
Geraldine added a white fill with 40% transparency yesterday and that's mostly working in the app now.

But the PNG is PNG-8 format without transparency dithering, which is preventing the 40% white fill from being transparent. So keeping this open until the file format config is resolved.

[2015-11-25 05:38] nvkelso commented on #23
@ecgreb What source name is used for search active versus inactive? Both assets are packed, but we're only generically styling `search` with the green pins in the scene file now.

[2015-11-25 05:38] nvkelso commented on #23
Related: https://github.com/mapzen/eraser-map/issues/133

[2015-11-25 05:40] nvkelso opened #95 "[FIELDTEST] Road labels are too small while browsing the map"
These are too small overall still. They feel smallish but okay in the web browser, but they aren't legible on mobile device.
- [x] Basic improvements
- [ ] Polish improvements

[2015-11-25 05:42] nvkelso opened #96 "[FIELDTEST] Road labels are far too small during navigation"
During navigation I mount the phone farther away than I hold it, so the somewhat small road labels we have now become too tiny to read during the navigation experience.
- [x] Basic improvements
- [ ] Polish improvements

[2015-11-25 05:42] nvkelso commented on #95
Related: https://github.com/tangrams/eraser-map/issues/96

[2015-11-26 00:20] nvkelso opened #97 "Black ramps on mobile ES renderers"
On my Samsung Galaxy S6 edge I see a lot of black ramps (links) both by highways and at other road intersections. Usually this is a mid-zoom problem, and zooming in the ramps assume the intended color. But true highway ramp to highway links don't seem as affected by this problem.
- Highway to non-highway: US 1 and Brotherhood Way in SF
- Non-highway to non-highway: Portola and Clipper by Twin Peak

[2015-11-26 00:32] nvkelso commented on #97
![screenshot_2015-11-25-16-15-42](https://cloud.githubusercontent.com/assets/853051/11412440/fbd6cee8-9391-11e5-9918-7c423b1cb944.png)
![screenshot_2015-11-25-16-15-49](https://cloud.githubusercontent.com/assets/853051/11412442/fbd80b14-9391-11e5-8d6a-2bb1c224277b.png)
![screenshot_2015-11-25-16-15-53](https://cloud.githubusercontent.com/assets/853051/11412438/fbd4b5cc-9391-11e5-96d5-964dd7fa9cb3.

[2015-11-26 00:32] nvkelso commented on #97
I've heard similar reports from NYC about this.

[2015-11-30 19:59] tallytalwar opened #98 "Poor Florida Label!!"
I was browsing around and saw that Florida state label never gets drawn, `orlando`, `gainsville`, `tampa`,`miami` takes precedence. Could this be a priority thingy?

Attaching 2 screen shots to show `Georgia` but no `Florida`, and `GA` and no `FL`, respectively.

![florida2](https://cloud.githubusercontent.com/assets/360641/11482788/d4af0670-9772-11e5-9b22-72296906038f.png)

![florida1](https://cl

[2015-11-30 23:56] tallytalwar opened #99 "Define priorities for pois"
There is no collision for point icons on JS side, and hence this is not visible on JS.
On ES, since no priority is defined for pois, these get assigned default (highest int value) which basically means the pois will get occluded by any higher priority label and hence do not show up. Which is what is happening at present in eraser-map (higher zoom level).

Refer:
https://github.com/tangrams/eraser-

[2015-12-01 05:11] nvkelso commented on #99
Aha! That explains the difference between these two drive test images:

Expected (WebGL):

![img_7730-1](https://cloud.githubusercontent.com/assets/853051/11492809/bfed8368-97a6-11e5-8ae5-8953eb8bcd8a.PNG)

Observed (ES):

![screenshot_2015-11-29-19-04-17](https://cloud.githubusercontent.com/assets/853051/11492819/cfd9da2e-97a6-11e5-9050-f7c25def1830.png)

[2015-12-01 05:22] nvkelso opened #100 "Hard to read road names on black route line"
Not sure the black route line is working out, or the road labels need to be updated to having more text stroke in routing mode. Something has to give!

![screenshot_2015-11-27-12-09-12](https://cloud.githubusercontent.com/assets/853051/11492950/51e4fc0a-97a8-11e5-8c08-856bb9e43d47.png)

[2015-12-01 06:14] nvkelso opened #101 "Water coastline effect not z-stacked same on Tangram ES"
On the WebGL version of Tangram this water stroke is below the road (not above it). Location: San Francisco Golden Gate Bridge.

![screenshot_2015-11-30-22-05-18](https://cloud.githubusercontent.com/assets/853051/11493649/bd82d912-97af-11e5-9953-6a4b6130df99.png)

[2015-12-01 06:16] nvkelso opened #102 "Link road casing inline should join with major road inline (cut thru casing outline)"
Both of these are near Rohnert Park, California:

![screenshot_2015-11-29-19-06-42](https://cloud.githubusercontent.com/assets/853051/11493660/e51cfaac-97af-11e5-8e65-12bd720a8d07.png)

![screenshot_2015-11-29-19-09-40](https://cloud.githubusercontent.com/assets/853051/11493661/e5502300-97af-11e5-9f09-24b2a78d01fb.png)

[2015-12-01 06:34] nvkelso commented on #99
@tallytalwar Does this screenshot from Eraser Map show the same problem or a different problem? I see POI text names but not the POI icon parts of the labels. This is in Eureka California along [Broadway](https://www.openstreetmap.org/#map=17/40.78167/-124.18578).

![screenshot_2015-11-27-15-54-28](https://cloud.githubusercontent.com/assets/853051/11493932/5c31e7f4-97b2-11e5-9311-2b7a09e06c22.png)

[2015-12-01 07:10] nvkelso opened #103 "McArthur Tunnel in SF Presidio covered by Golf Course landuse AOI"
Some z-stacking issue?

![screenshot_2015-11-27-10-35-10](https://cloud.githubusercontent.com/assets/853051/11494456/60cbae12-97b7-11e5-9f79-558e1f3f01e7.png)

[2015-12-01 15:29] tallytalwar commented on #99
Thanks for the comparison screen shots.

Yes, pois not having priorities and labels having priorities, makes the colliding label<->poi pair pick the label and not draw the poi.

[2015-12-01 16:04] tallytalwar commented on #99
It would also make more sense to provide priorities for all labels and icons. Will definitely make the label/icon collision more consistent.

[2015-12-01 18:11] nvkelso commented on #99
cc @bcamper Good example of needing a single "labels" symbolizer with text and icon parts.

[2015-12-01 18:53] matteblair commented on #101
Boy this was a weird one. Turns out that you've hit an Undefined Behavior!

The `order` for the highway feature is defined [here](https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L1127) as `8` and [here](https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L2146) as `function() { return (6 + feature.sort_key) || 6; }`. These rules both match the feature _at the

[2015-12-01 19:35] matteblair commented on #101
I also just noticed that this same behavior will occur with the path features on either side of the highway as well (their `order` is set to `6` [here](https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L1893)).

This behavior almost certainly occurs in other instances as well, so I will re-iterate that setting `order` in multiple "parallel" rules is probably trouble.

[2015-12-01 20:23] bcamper commented on #99
Yep :)

[2015-12-01 20:32] nvkelso opened #104 "VERIFY: Style active / inactive search result pins"
See related: https://github.com/mapzen/eraser-map/issues/136
- On the style side of things 2 draw rules with appropriate filters looking for `state` property needs to be specified.
  So https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L891-L898, should look like:

[code]

[2015-12-01 21:40] matteblair commented on #103
The stylesheet is explicitly setting the `order` for the golf course to 11: https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L5273

The tunnel _probably_ has an `order` of 6, but for some types of tunnels it seems to be not-well-defined.

This particular issue can be resolved by removing the explicit `order` set for golf courses. In general it's a bad idea to specify `order` in

[2015-12-01 21:51] matteblair commented on #101
@bcamper as I mentioned, this oddity of "parallel" rules with undefined order can be hard to diagnose.

Instead of leaving the behavior undefined, we could decide on an arbitrary (but consistent) order in which to apply rules with the same depth. For example, when conflicting rules are encountered we can take their values as strings, sort them by lexicographical order, then take the first value fr

[2015-12-03 18:22] sensescape commented on #47
I might not switch this to the dot interpolation transition for now, i like that it's a different type of surface

[2015-12-03 18:22] #47 closed, assigned to sensescape

[2015-12-03 18:30] sensescape commented on #85
done

[2015-12-03 18:30] #85 closed, assigned to sensescape

[2015-12-03 18:34] sensescape commented on #42
done

[2015-12-03 18:34] #42 closed, assigned to nobody

[2015-12-03 18:34] sensescape commented on #13
done

[2015-12-03 18:34] #13 closed, assigned to nobody

[2015-12-03 18:35] #28 closed, assigned to nobody

[2015-12-03 18:35] sensescape commented on #39
this is done

[2015-12-03 18:35] #39 closed, assigned to nobody

[2015-12-03 18:37] sensescape commented on #35
this has been cleaned up, it will still stretch and contract because of texcoords

[2015-12-03 18:37] #35 closed, assigned to sensescape

[2015-12-03 18:39] sensescape commented on #87
with new font Open Sans

[2015-12-03 18:41] sensescape commented on #36
done
<img width="699" alt="screen shot 2015-12-03 at 10 39 58 am" src="https://cloud.githubusercontent.com/assets/466585/11570110/5a491f26-99aa-11e5-9494-17e0259ba099.png">
<img width="644" alt="screen shot 2015-12-03 at 10 40 36 am" src="https://cloud.githubusercontent.com/assets/466585/11570109/5a48e506-99aa-11e5-9fde-297dc04c4c7a.png">

[2015-12-03 18:41] #36 closed, assigned to nobody

[2015-12-03 19:01] sensescape opened #106 "Categorize Icons - Color"
Color icons based on categorization

[2015-12-03 19:04] sensescape opened #107 "Create 3 sizes for Icons"
small, medium and large sizes

[2015-12-03 23:45] nvkelso opened #108 "Auto create 3 icon sizes, with scene file integration"
Related: https://github.com/tangrams/eraser-map/issues/107

[2015-12-04 00:02] nvkelso opened #109 "Buildings without height still need to extrude starting at zoom 17/18"
This is important for routing.

This seems to work with WebGL, but is broken in the ES version in Eraser Map.

@blair1618, @bcamper, @meetar

[2015-12-04 00:05] nvkelso opened #110 "Building strokes are too strong"
Combo of stroke weight & stroke color makes it hard to read the street labels.

[2015-12-04 00:48] matteblair commented on #109
I see that buildings with extrusion are defined [here](https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L2229), and you have `extrude: true` in the two rules there. According to [the docs](https://github.com/tangrams/tangram-docs/blob/gh-pages/pages/draw.md#extrude), `extrude: true` should extrude buildings according to their `height` and `min_height` properties, so a feature w

[2015-12-04 01:02] nvkelso commented on #75
I think this does it on the scene file side: 733ec72a734620eb1cc19962b9b71aacab7c0c51.

@tallytalwar and @blair1618 to confirm and embed latest scene file into Android app.

[2015-12-04 01:15] matteblair commented on #75
@nvkelso See https://github.com/tangrams/eraser-map/pull/111/files, we need the actual files alongside the scene file (like we do with images). I'll rebase my pull request to use the anchor you've created.

[2015-12-04 01:44] nvkelso commented on #109
See also: https://github.com/mapzen/eraser-map/issues/166 which suggests the current max_zoom on the map in the Android app is 18 or 17.9 so I could see the `{ min: 18 }` filter being an issue.

I think @meetar wrote this style originally, can you weigh in with suggested fix / WebGL versus ES comparison?

[2015-12-04 04:32] bcamper commented on #109
Eh, it turns out (this is very very old code) that `extrude` has a default value of 20 meters, if the `height` is not defined:

https://github.com/tangrams/tangram/blob/master/src/styles/polygons/polygons.js#L59
https://github.com/tangrams/tangram/blob/master/src/styles/style_parser.js#L122

We could deal with this by:
- Changing this behavior, and adjusting any previous stylesheets as necessary.

[2015-12-04 05:05] nvkelso commented on #109
This feels similar to the default [text font size of 12](https://github.com/tangrams/tangram-docs/blob/gh-pages/pages/draw.md#size-1)
…

If I extrude a building I expect it to extrude to some default. **I vote
for implementing the default in ES.**

And in the meantime we could hack it for Eraser Map scene with `extrude:
function() { return feature.height || 20; }`, as Brett suggests.

On Thu, Dec

[2015-12-04 05:20] bcamper commented on #109
I do think it's friendlier from a learning-the-system perspective, type
less to get a result (the counter argument is that defaults can be
confusing).

On Fri, Dec 4, 2015 at 12:05 AM, Nathaniel V. KELSO <
notifications@github.com> wrote:

[2015-12-04 05:53] matteblair commented on #109
I don't think this default extrusion behavior is a good idea.

It's easy to accomplish a default extrusion height in a style; ~~a one-line position injection will do splendidly for the eraser-map style~~ the JS function mentioned above is a pretty intuitive solution.

Adding implicit, exceptional behavior like this makes it more difficult to reason about the behavior of a system that's already qui

[2015-12-04 21:32] matteblair opened #112 "Ambiguous draw parameters"
The layers [pois_and_landuse_labels:has-name:default-label-text](https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L4060) and [pois_and_landuse_labels:has-name:bank-early](https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L4350)\* can both match the same feature and assign the `visible` parameter to the `text` rule with different values at the same depth.

The

[2015-12-05 21:15] matteblair commented on #112
After adding an automated check for rule ambiguity and exploring the map, I've found that this problem is more pervasive than I'd thought. Here is a non-exhaustive list of ambiguous rules that I've encountered:
- `order` in rule `lines` in layer `roads:z-order` conflicts with layer `roads:highway`
- `order` in rule `lines` in layer `roads:z-order` conflicts with layer `roads:path`
- `order` in rul

[2015-12-05 21:22] bcamper commented on #112
Yes, I think we need to work within the current syntax for now, as it would
be a much bigger refactor (and a syntax change I don't want to rush) to
change that behavior.

I will look into the easiest way to accomplish this in JS. Lexical sort by
layer name may be the most straightforward (which doesn't need the fully
qualified layer name, because this only needs to be resolved for rules at
the sam

[2015-12-05 21:44] matteblair commented on #112
Cool, thanks! If we were going to use layer name, I think it would have to be the fully-qualified layer name; two "sibling" layers could both have sublayers with the same name and conflicting rules.

[2015-12-06 00:42] nvkelso commented on #112
Could it be the relative order within the scene file (versus layer name, which is also random)?

Sent from my handsful device.

[2015-12-06 00:44] tallytalwar commented on #112
I am not sure relative order will work because yaml parsing of these layers
is not deterministic, at least on the es side.
On Dec 5, 2015 7:42 PM, "Nathaniel V. KELSO" notifications@github.com
wrote:

[2015-12-06 00:56] tallytalwar commented on #112
And I agree with Matt, lexical order of fully qualified layer names will be
required.
On Dec 5, 2015 7:44 PM, "Varun Talwar" varun@mapzen.com wrote:

[2015-12-06 01:18] bcamper commented on #112
Right, unfortunately it is not possible to determine order from a YAML
mapping (or JS object/hash either for that matter). The use of lexical
manner is not really because it's "logical", it's so that it's consistent
and predictable. This is still a rule behavior that we want to avoid (but
thinking about syntax alternatives is a bigger topic that can't be done on
a short timeline).

I will have a w

[2015-12-06 01:32] matteblair commented on #112
In tangram-es it would be pretty easy to resolve conflicts by order within the file (yaml-cpp provides positional information about each node). This seems like it would be a more intuitive solution than sorting by layer name, but it sounds like this might not be technically possible in tangram-js?

[2015-12-06 01:52] bcamper commented on #112
Ah, didn't know that was possible in the C++ yaml parser!

Unfortunately it is _not_ currently possible with the JS yaml parser,
because it uses plain JS objects, and there is no guaranteed order for
those keys. So I think lexical order is the only practical solution for now
(though I agree it isn't the most intuitive and I initially wasn't so into
the idea.. just don't see an alternative).

I hav

[2015-12-06 16:07] bcamper commented on #112
So with lexical sort, is the preferred behavior that first ('rule-a') or last ('rule-z') wins? :)

[2015-12-07 00:39] matteblair commented on #112
No preference here. I'd try both on the eraser-map style and see if one produces noticeably fewer differences.

[2015-12-07 03:02] bcamper commented on #112
There are probably better ways to solve this, but also occurred to me that we could have an optional `priority` set on the layer to allow precedence control where needed.

[2015-12-07 14:52] bcamper commented on #112
BTW I looked at how CSS resolves conflicts like this, and later selectors overwrite earlier ones. As discussed that would be the preferred behavior here if it was easy to implement (unfortunately I still don't think it is, though I started taking a look at js-yaml for future functionality).

Of course, for CSS like Tangram, it's preferable not to have conflicting rules in the the first place, but

[2015-12-07 15:51] matteblair commented on #112
Just having _some_ well-defined method of resolving conflicts will make a world of difference here, refinements on that method (priority, document order, etc) will be nice enhancements for later.

This raises a question about the documentation/specification: Does this layer-name-resolution behavior become part of the specified behavior for tangram? Or do we leave it officially unspecified to allow

[2015-12-07 16:40] karimnaaji opened #113 "Icons borders"
The icon borders sometimes have white pixels, sometimes with alpha, sometimes not:
<img alt="screen shot 2015-12-07 at 11 30 30 am" src="https://cloud.githubusercontent.com/assets/7061573/11632765/5cd6c156-9cd6-11e5-8148-1463857edf34.png" width="210">
<img alt="screen shot 2015-12-07 at 11 30 45 am" src="https://cloud.githubusercontent.com/assets/7061573/11632769/628c1c68-9cd6-11e5-97aa-5cc445ea5d

[2015-12-07 17:13] matteblair opened #114 "Pier flickering / bad layer ordering"
The `order` set for piers ([here](https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L5352)) is currently the same as the `order` set for water ([here](https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L911)). This causes the areas where they overlap to flicker between the two layers:

![screen shot 2015-12-07 at 12 12 31 pm](https://cloud.githubusercontent.com

[2015-12-07 21:15] nvkelso commented on #97
Still showing as an issue in master-518 build :(

[2015-12-07 21:38] matteblair commented on #75
Resolved by https://github.com/tangrams/eraser-map/pull/111

[2015-12-07 21:38] #75 closed, assigned to matteblair

[2015-12-07 21:39] #65 closed, assigned to matteblair

[2015-12-07 21:54] nvkelso commented on #109
@bcamper and @blair1618 I suspect this needs to be set in the shader itself and not the basic YAML extrude property. That is to say, setting `extrude: function() { return feature.height || 20; }` makes buildings with height infinitely tall on device, and buildings without height still aren't extruded.

[code]

 I wonder if the height is controlled with shader magic here:

[code]

Can @bcamper take

[2015-12-07 21:54] nvkelso commented on #109
@sensescape Can you attach the awesome screenshot here?

[2015-12-07 22:01] sensescape commented on #109
![screenshot_2015-12-07-14-00-26](https://cloud.githubusercontent.com/assets/466585/11641063/ff60383a-9cea-11e5-858c-4de848a9aca8.png)

[2015-12-07 22:05] bcamper commented on #109
Sounds like a feature.

On Mon, Dec 7, 2015 at 5:01 PM, Geraldine Sarmiento <
notifications@github.com> wrote:

[2015-12-07 22:11] matteblair commented on #109
Yeah, I think I've just seen what you're talking about :)

This should be a correct way to write this behavior in the stylesheet. I'm unclear why it's totally bonkers on ES right now but I have two theories:
1. JS functions may not be enabled for "extrude". I thought this was enabled already, but if not it's quite simple to enable JS functions on a parameter.
2. Numeric values for "extrude" might

[2015-12-07 23:58] matteblair commented on #109
Progress: it turns out functions _do_ work for 'extrude' but only if you return [min_height, height], so I'll add a case to allow returning a single value (like on JS). The unit values are also scaled incorrectly, like I thought, and that's a simple change.

[2015-12-10 21:19] bcamper commented on #97
I've not been able to verify this fix on device yet, but I believe that this may be the culprit, a malformed YAML reference:

[code]

https://github.com/tangrams/eraser-map/commit/fbbbeb0cc62202da5a51da4c65d65f4b2a6e4a62

My theory is this:
- The reference read `major_road2` instead of the proper `*major_road2`. Since `major_road2` is not a CSS color, it fails to parse.
- On JS, a default color of

[2015-12-10 21:29] tallytalwar commented on #97
@bcamper Yup, this is it.
- This without the fix:
  ![screenshot from 2015-12-10 16-27-44](https://cloud.githubusercontent.com/assets/360641/11729029/2ef3afc4-9f5b-11e5-9f16-36abdb06ce5a.png)
- This with the fix:
  ![screenshot from 2015-12-10 16-27-16](https://cloud.githubusercontent.com/assets/360641/11729023/1e473916-9f5b-11e5-95b5-564b2b6ad791.png)

[2015-12-10 21:32] bcamper commented on #97
I am on a debugging roll :D

On Thu, Dec 10, 2015 at 4:29 PM, Varun notifications@github.com wrote:

[2015-12-10 21:35] matteblair commented on #97
Yeah that's exactly what was happening. The color is black because that's what css-color-parser-cpp returns when it can't match a string. We can pick a different color though. I would actually suggest some garish shade of pink or yellow because as you have just found, having a noticeable "failure" color makes it easier to spot unwanted behavior.

[2015-12-10 21:35] #97 closed, assigned to matteblair

[2015-12-10 21:38] tallytalwar commented on #97
In my previous work, I have usually used a cheddar cheese color as an error color or a default color. However thats my personal preference, because I tend to not like the color.

http://images.myperfectcolor.com/repositories/images/colors/MPC00052407-2.jpg

[2015-12-10 23:45] nvkelso commented on #57
Tangram v0.4.4 has this support now.

[2015-12-10 23:46] nvkelso opened #117 "Investigate townspot artwork size inconsistency"
See: https://github.com/tangrams/eraser-map/pull/115#issuecomment-163785021

[2015-12-11 03:27] bcamper commented on #57
Although we're still waiting for support in ES.

On Thursday, December 10, 2015, Nathaniel V. KELSO notifications@github.com
wrote:

[2015-12-11 20:02] nvkelso commented on #99
Should be mostly fixed in: 83e9ba7f98984cc523fe816565ed248957b174a8

[2015-12-11 20:04] nvkelso opened #118 "Sprite sheet region definition includes extra buffer"
We're hacking an extra pixel on the bottom and a couple on the right side to get around some masking / export issues now, but that's causing Tangram ES label text to icon collision to get confused (especially for townspots).

[2015-12-11 20:04] nvkelso commented on #118
Related: https://github.com/tangrams/eraser-map/issues/62

[2015-12-11 23:53] nvkelso commented on #110
Geraldine completed this task.

[2015-12-11 23:53] #110 closed, assigned to sensescape

[2015-12-11 23:59] nvkelso commented on #97
Brett fixed this (was missing a \* in front of the YAML anchor ref).

[2015-12-12 00:00] nvkelso commented on #100
The updated green routeline is working much better.

[2015-12-12 00:00] #100 closed, assigned to nobody

[2015-12-12 00:05] nvkelso commented on #99
The icons show up now instead of the text (good).

Further fixing is already tracked by https://github.com/tangrams/eraser-map/issues/118 (cropping sprites in sprite sheet) and https://github.com/tangrams/tangram-es/pull/429 (allowing stops for text offsets).

[2015-12-12 00:05] #99 closed, assigned to nvkelso

[2015-12-12 00:07] nvkelso commented on #109
Fixed in d0ad47eb9b1784b215251128eb7000ccf4dcdb5d and verified in master-569 on device!

[2015-12-12 00:07] #109 closed, assigned to matteblair

[2015-12-12 00:09] nvkelso commented on #95
This is looking much better in master-569!

[2015-12-12 00:10] nvkelso commented on #96
Looking much better in master-569!

[2015-12-12 00:11] nvkelso commented on #87
Closing in favor of #95 and #96.

[2015-12-12 00:11] #87 closed, assigned to sensescape

[2015-12-12 00:16] #43 closed, assigned to sensescape

[2015-12-12 00:17] nvkelso commented on #57
This is done using a no-op upgrade to Tangram [v0.4.4](https://github.com/tangrams/tangram/releases/v0.4.4) on WebGL. It'll be no-op as well on ES when that lands. Keeping this issue open until ES lands.

[2015-12-12 00:23] nvkelso commented on #22
And now it's green.

[2015-12-12 00:23] #22 closed, assigned to sensescape

[2015-12-12 00:25] nvkelso commented on #2
The scene file now uses a different approach. Fixing the root issue of this original is not a 1.0 launch feature.

[2015-12-12 00:25] nvkelso commented on #3
This is working now.

[2015-12-12 00:25] #3 closed, assigned to sensescape

[2015-12-12 00:29] nvkelso commented on #37
Looks different and better now.

[2015-12-12 00:29] #37 closed, assigned to sensescape

[2015-12-12 00:32] nvkelso commented on #114
The flickering has been addressed in other Tangram commits.

But the root bad ordering is still a problem in the scene file (causing the render to not be to spec), so keeping this issue open.

[2015-12-14 05:41] nvkelso commented on #104
Giving this a go in: 5347d82314115b904adee1acf78028d8800be8bc.

[2015-12-14 16:45] tallytalwar opened #120 "Zoom level 18 building extrusion"
I noticed recently that at zoom level 18 all the buildings were being extruded, irrespective of whether they have any heigh information in the tiles or not. (Refer: https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L2315-L2336)

However, if a building has a height less than the default extrusion `20`, then should it be extruded by `building_height + 20`?

Example:
In the screen

[2015-12-14 16:47] bcamper commented on #120
If a building **has** a height value, it should be extruded to just that height. If it **does not** have a height value, it should extrude to default height (20 in this case).

[2015-12-14 17:35] nvkelso commented on #120
Related: https://github.com/tangrams/eraser-map/issues/109

[2015-12-14 17:39] nvkelso commented on #120
Logically my fix in #109 causes this (like Brett suggests). But I agree the effect can be weird. Let's use this issue to track tuning the extrusion at zoom 17/18+.

One solution: If the data height is less than 20, we should probably force it to be 20 for rendering purposes.

[2015-12-14 23:34] nvkelso commented on #104
@tallytalwar @blair1618 @ecgreb Tips here? This isn't working for me in the app.

[2015-12-14 23:36] tallytalwar commented on #104
Active, non-active properties needs to be added dynamically from the app,
for it to completely work.
On Dec 14, 2015 6:34 PM, "Nathaniel V. KELSO" notifications@github.com
wrote:

[2015-12-14 23:38] tallytalwar commented on #104
Refer comments https://github.com/mapzen/eraser-map/issues/133, for further
details.
On Dec 14, 2015 6:34 PM, "Nathaniel V. KELSO" notifications@github.com
wrote:

[2015-12-14 23:39] nvkelso commented on #104
Aha! Verification blocked on: https://github.com/mapzen/eraser-map/issues/133

[2015-12-17 06:05] nvkelso commented on #70
Adding to this based on the v0.6 tiles release:

Less important:
- [ ] ski_rental
- [ ] ski_school
- [ ] snow_cannon
- [ ] athletics
- [ ] running
- [ ] horse_racing
- [ ] bmx,
- [ ] disc_golf
- [ ] cycling
- [ ] ski_jumping
- [ ] motor
- [ ] karting
- [ ] obstacle_course
- [ ] equestrian
- [ ] alpine_slide
- [ ] soap_box_derby
- [ ] mud_truck_racing
- [ ] skiing
- [ ] drag_racing
- [ ] archery

[2015-12-19 01:52] #117 closed, assigned to nvkelso

[2015-12-21 19:24] nvkelso opened #124 "Buildings should extrude into view (not pop)"
We x-fade the building extrusion so it's less extreme at street-level zooms (which is very nice). But now the big buildings just POP into full extrusion at the mid-zooms. Instead it would be nice if they "grew" into their full height (very quickly in the same integer zoom) before slowly getting shorter.

[2015-12-21 19:25] nvkelso commented on #124
@meetar Can you take a look, please?

[2015-12-21 20:15] meetar commented on #124
I'll take the case 🔎

[2015-12-23 17:47] nvkelso opened #126 "Water fills need to sort above golf courses"
http://tangrams.github.io/eraser-map/#16/39.6902/-75.7673

<img width="764" alt="screen shot 2015-12-23 at 09 45 55" src="https://cloud.githubusercontent.com/assets/853051/11981747/36e047e8-a95a-11e5-970c-7a9098650a19.png">

[2015-12-23 17:55] #124 closed, assigned to meetar

[2016-01-04 06:00] nvkelso commented on #96
After a week away, using master-598, these are still a smidgen too small.

[2016-01-04 06:02] nvkelso commented on #57
@bcamper can you link the ES Github issue here, please?

[2016-01-04 06:04] nvkelso opened #127 "No city labels (townspot, name) on ES"
Below is a screenshot of the capital region of NH, which should have labels for Concord, Manchester, and Salem. Zooming in & out I couldn't find them:

![unnamed-1](https://cloud.githubusercontent.com/assets/853051/12084265/e8c26ab8-b265-11e5-9a6d-508bb3ce0ab7.png)

**config**
Manufacturer: samsung
Model: SAMSUNG-SM-G925A
Release: 5.1.1
Code name: REL
SDK: 22
Build number: master-598

[2016-01-04 06:04] nvkelso commented on #127
Related: https://github.com/tangrams/eraser-map/issues/118

[2016-01-04 06:11] nvkelso opened #128 "BLOCKED: Most big box stores should be visible earlier (z15, z16)"
Home Depot and Target should be visible earlier than z17 and z16 respectively (both should probably be visible at z15).

This might require vector tile work, but there are area limits in the scene file that could be compounding this.

http://tangrams.github.io/eraser-map/#17/37.67369/-122.46629

z15:
<img width="444" alt="screen shot 2016-01-03 at 22 08 06" src="https://cloud.githubusercontent.com

[2016-01-04 06:12] nvkelso commented on #128
(The fact that there are 2 Target stores on either side of the interstate here is true but crazy awesome.)

/cc @zerebubuth to investigate if vector tile data source issue(s) need to be filed.

[2016-01-04 15:49] matteblair commented on #57
https://github.com/tangrams/tangram-es/pull/441

[2016-01-04 16:33] #114 closed, assigned to nobody

[2016-01-04 16:36] matteblair commented on #101
Behavior seems to match in both implementations now.

[2016-01-04 16:36] #101 closed, assigned to nobody

[2016-01-04 16:58] souperneon opened #129 "Flickering blue fill for creek"
![2016-01-04 7](https://cloud.githubusercontent.com/assets/6125224/12095087/77b69a36-b2da-11e5-9e1a-675cadf45f96.png)

[2016-01-05 21:32] souperneon opened #130 "Make route line width consistent while in routing mode"

[2016-01-05 21:34] souperneon opened #131 "Add drop shadow under route line"
This will help the visual that it's sitting on top of everything and differentiate it better from colors around it

[2016-01-05 21:50] nvkelso commented on #130
(or at least consistently thicker)

[2016-01-06 18:29] souperneon opened #133 "New asset for routing arrow"
Updated asset with circle around it

[2016-01-06 22:53] sensescape commented on #133
Ok this has been updated. Had to make a slight adjustment on the circle size, it is slightly smaller, It was right on the edge of the sprite sheet. Let's see how this works.

[2016-01-08 22:54] nvkelso commented on #133
In app, but it's distorted?

[2016-01-08 22:56] nvkelso commented on #48
v0.6 very important:
- [x] alcohol
- [x] wine
- [x] toy
- [x] ice_creme
- [x] ski
- [x] beach

[2016-01-08 22:58] nvkelso commented on #96
Geraldine landed fixes for these, time for another drive test.

[2016-01-08 22:58] nvkelso commented on #95
Geraldine landed fixes for these, time for another drive test.

[2016-01-08 23:07] nvkelso opened #134 "Pick up v0.6 tile content additions"
https://github.com/mapzen/vector-datasource/releases/tag/v0.6.0

[2016-01-08 23:12] nvkelso commented on #126
I suspect river lines are below water fills now (the reverse needs to be true, see Potomac River in Washington DC).

[2016-01-11 20:47] tallytalwar commented on #131
Will be picking this up next.

[2016-01-14 21:26] matteblair opened #138 "'platforms' layer references undefined styles"
https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L1114

`lines_transparent`, `polygons_transparent`, and `outline_transparent` are used as if they refer to styles, but no such styles are defined. Consequently, these rules will do nothing except issue warnings to the console.

[2016-01-14 21:50] #138 closed, assigned to nobody

[2016-01-14 21:50] nvkelso commented on #138
Good find, thanks!

[2016-01-14 22:01] nvkelso commented on #134
Content picked up in:
https://github.com/tangrams/eraser-map/commit/478b7beb5a274d5681ae8d03831a1aa161317198

Over to Geraldine to style.

[2016-01-14 22:39] tallytalwar opened #140 "Need for a reverseGeocode pin drop icon?"
Currently we are using `search-active` icon. Does it make sense to add another icon/modify the color of the icon for reverseGeocode pin drop?

[2016-01-14 23:20] nvkelso commented on #140
The convention in other apps is to follow the "active" search result icon for this. If user testing shows a need for our app to diverge, let's reopen this issue.

[2016-01-14 23:53] nvkelso commented on #140
Looking more into this... EM currently allows a revGeo UX during search result mode. So either we need to disable that, or provide a different pin for it.

**strikethru** (Google cancels the search mode and pulls up the revGeo, Apple doesn't allow revGeo during search result mode. Apple uses a special pin color for revGeo.)*\* /strikethru*\* _See followup below._

[2016-01-14 23:55] tallytalwar commented on #140
For me gmaps allow reversegeo pun with search results icons.
On Jan 14, 2016 6:53 PM, "Nathaniel V. KELSO" notifications@github.com
wrote:

[2016-01-14 23:57] nvkelso commented on #140
I'm on iOS, you on Android?

[2016-01-15 00:00] tallytalwar commented on #140
Yup android.
On Jan 14, 2016 6:57 PM, "Nathaniel V. KELSO" notifications@github.com
wrote:

[2016-01-15 01:10] nvkelso commented on #140
Verified you're repro on iOS. I had searched for city in Gmaps and it killed the single result and replaced with the new pin (in the same style). And Apple Maps does (with some finagling) allow a pin drop in search result view.

[2016-01-15 01:12] nvkelso commented on #140
@tallytalwar Is the Android app side completed to allow a new `reverseGeocode` source? If not, can you please create issue in the other repo and link up here?

[2016-01-15 16:01] tallytalwar commented on #140
Sure will do. It will be a very quick change to add a new reverseGeocode source, once one is available from the style sheet. Will create an issue on the eraser-map app repo.

[2016-01-20 04:18] #104 closed, assigned to nvkelso

[2016-01-20 04:22] tallytalwar opened #141 "Use repeat_group for better label placement experience"
Now that https://github.com/tangrams/tangram-es/pull/465 got merged in ES and equivalent was available on JS for some time now, we should have the eraser-map style sheet use this feature to get better placed labels.

cc. @nvkelso, @sensescape

[2016-01-20 20:22] nvkelso commented on #141
Agree we should update style for `repeat_group`, exciting!

(The default `repeat_distance` on Tangram JS was sufficient for general purpose, assume the same will be true in Tangram ES.)

[2016-01-20 20:22] tallytalwar commented on #141
Yup... we use the same `256px` default. Results can be seen in the latest build of eraser-map :D.

[2016-01-20 20:23] nvkelso commented on #141
Related: https://github.com/tangrams/eraser-map/issues/57

[2016-01-20 20:27] nvkelso commented on #141
Wow, huge improvement! Looks like we will want to optimize for less repeat, need to balance how it looks on ES with the different text engine from JS. That work should be focused in #57, this issue on `repeat_group`.

[2016-01-20 20:27] nvkelso commented on #57
Wow, huge improvement (`master-688`)! But looks like we will want to optimize for less repeat, need to balance how it looks on ES with the different text engine from JS.

[2016-01-20 21:10] bcamper commented on #57
Cool. Given the divergent label placement systems, it doesn't seem unreasonable that they may need different defaults (usually we try to keep them in sync, but then in most cases the implementations are also closer).

[2016-01-25 19:52] tallytalwar opened #142 "Disable reverseGeo and poiTapping in route_preview mode."

[2016-01-25 20:48] tallytalwar commented on #142
Closing, wanted this to be in the mapzen/eraser-map repo.

[2016-01-25 20:48] #142 closed, assigned to nobody

[2016-01-27 15:57] bcamper commented on #127
I had restored these at some point by adjusting the label offsets, but it looks like these commits https://github.com/tangrams/eraser-map/commit/6ac67aac6bdf68cee2b788dd89d7c50840de89b0 and https://github.com/tangrams/eraser-map/commit/c89238172c4c027749d9d12bf6fec997606605fe again caused the text and icons to overlap (thus to collide, and the icons have higher priority so the text is hidden). (No

[2016-01-27 19:33] bcamper commented on #127
Note: I upgraded this repo to use Tangram 0.5, which means that these place labels are also now missing from the web map (due to addition of sprite collision in tangram 0.5.0). However this matches the ES behavior so I believe it's best to keep things current and reflecting cross-platform behavior.

[2016-01-27 20:38] nvkelso commented on #127
Sounds good, thanks. Consistency is (almost) always better!

[2016-01-27 21:14] sensescape commented on #126
<img width="725" alt="screen shot 2016-01-27 at 1 09 58 pm" src="https://cloud.githubusercontent.com/assets/466585/12628408/db2f24dc-c4f7-11e5-8451-c8f0355bc66c.png">

fixed

[2016-01-27 21:14] #126 closed, assigned to sensescape

[2016-01-29 00:52] sensescape commented on #48
'ski'
'ski_rental'
'ski_school'
'snow_cannon'
'athletics', 'running', 'horse_racing', 'bmx',
'disc_golf', 'cycling', 'ski_jumping', 'motor', 'karting',
'obstacle_course', 'equestrian', 'alpine_slide', 'soap_box_derby',
'mud_truck_racing', 'skiing', 'drag_racing', 'archery'

[2016-01-29 00:58] sensescape commented on #134
done

[2016-01-29 00:58] #134 closed, assigned to sensescape

[2016-01-29 01:02] sensescape commented on #129
cannot reproduce, @souperneon can you provide more info?

[2016-01-29 01:10] tallytalwar commented on #129
I think this was addressed here: https://github.com/tangrams/eraser-map/pull/123.

@souperneon can you please verify and close? Thanks

[2016-01-29 01:10] sensescape commented on #96
done

[2016-01-29 01:10] #96 closed, assigned to nvkelso

[2016-01-29 01:10] sensescape commented on #95
done

[2016-01-29 01:10] #95 closed, assigned to nvkelso

[2016-01-29 01:11] sensescape commented on #23
done

[2016-01-29 01:11] #23 closed, assigned to nvkelso

[2016-01-29 01:15] sensescape commented on #48
electronics

[2016-01-29 22:13] souperneon commented on #129
I can test while driving this weekend and close

[2016-02-05 16:14] souperneon opened #147 "Route guidance arrow appears horizontally squished"

[2016-02-05 16:18] nvkelso commented on #147
Geraldine and I have dug into this a little. Asset is correct in Illustrator, suspect it's a scene file configuration issue.

[2016-02-05 16:24] #147 closed, assigned to matteblair

[2016-02-05 21:34] nvkelso opened #149 "Enlarge the route icon"
It should be something like 80px or 60px. Mix of YAML config change and artwork asset change?

[2016-02-05 21:36] nvkelso opened #150 "Add text halos to street labels for routing"
Street text labels on top of the route line are hard to see (black on blue) at the default routing zoom. Zooming out from there, white halos are used. Let's continue those to the max zoom.

[2016-02-05 22:40] matteblair commented on #149
The original asset is comically large compared to all the other icons, we should be able to just resize it in YAML. We may actually want to _downscale_ the original route icon asset, even if we display it at 80px.

[2016-02-05 22:48] sensescape commented on #149
Ok, I scaled it up 200%  previously
I'll reduce 75% and see how that scales
Let me know if you have suggestion of specific size

[2016-02-06 00:08] sensescape commented on #150
done
![screenshot_2016-02-05-16-07-03](https://cloud.githubusercontent.com/assets/466585/12862690/a83ef82c-cc22-11e5-9f5a-1715e22f114e.png)

[2016-02-06 00:08] #150 closed, assigned to sensescape

[2016-02-09 05:42] nvkelso opened #151 "Client-side visibility range for z17, z18 features"
Tied in with [an upcoming tile change](https://github.com/mapzen/vector-datasource/issues/478), we need to suppress early visibility of the following features that will soon appear in z16 tiles.

[code]

[2016-02-09 05:44] nvkelso commented on #151
This isn't going into tiles right away on prod, probably end of month.

[2016-02-11 05:29] nvkelso commented on #133
Size is looking good now in drive tests, and latest sprite sheet is PNG24 which should give us the semi-transparent white badge.

See also:
- https://github.com/tangrams/eraser-map/commit/48acded90ccd1761f5a00c892434117b09d6af2e

[2016-02-11 05:30] nvkelso commented on #127
Should be fixed in https://github.com/tangrams/eraser-map/commit/48acded90ccd1761f5a00c892434117b09d6af2e and https://github.com/tangrams/eraser-map/commit/8c5b1eaf0049d4cad05a60f47de9784e617511e5. Waiting to verify with a new Eraser Map build (soft verified in Tangram JS, though).

[2016-02-11 05:30] nvkelso commented on #118
Should be fixed in https://github.com/tangrams/eraser-map/commit/48acded90ccd1761f5a00c892434117b09d6af2e and https://github.com/tangrams/eraser-map/commit/8c5b1eaf0049d4cad05a60f47de9784e617511e5. Waiting to verify with a new Eraser Map build (soft verified in Tangram JS, though).

[2016-02-11 05:31] nvkelso commented on #62
Should be fixed in https://github.com/tangrams/eraser-map/commit/48acded90ccd1761f5a00c892434117b09d6af2e and https://github.com/tangrams/eraser-map/commit/8c5b1eaf0049d4cad05a60f47de9784e617511e5. Waiting to verify with a new Eraser Map build (soft verified in Tangram JS, though).

/cc @blair1618

[2016-02-11 05:32] nvkelso commented on #24
Should be fixed in https://github.com/tangrams/eraser-map/commit/48acded90ccd1761f5a00c892434117b09d6af2e and https://github.com/tangrams/eraser-map/commit/8c5b1eaf0049d4cad05a60f47de9784e617511e5 which includes the required PNG24 sprite file format to support the internal transparency. Waiting to verify with a new Eraser Map build.

[2016-02-11 06:01] nvkelso commented on #128
We're missing some types of hardware store, adding them to tiles is covered in:
- https://github.com/mapzen/vector-datasource/issues/519

[2016-02-11 06:26] nvkelso commented on #128
Added blocking issue: https://github.com/mapzen/vector-datasource/issues/520.

[2016-02-11 06:45] nvkelso commented on #120
We're also extruding to 20 tiny backyard sheds, those should probably be 10m instead.

[2016-02-11 06:46] nvkelso commented on #112
@blair1618 Can you please run this analysis again now that the stylesheet has been updated, and Tangram has been updated?

[2016-02-11 06:46] nvkelso commented on #130
@sensescape You made adjustments to this last week. Is there anymore to do here?

[2016-02-11 06:48] nvkelso commented on #2
Here's the same area today:

<img width="635" alt="screen shot 2016-02-10 at 22 47 43" src="https://cloud.githubusercontent.com/assets/853051/12970821/65e1ea32-d048-11e5-99ca-cdeda43d19fa.png">

[2016-02-11 07:01] nvkelso commented on #128
Related early zoom visibility changes:
- https://github.com/mapzen/vector-datasource/issues/522
- https://github.com/mapzen/vector-datasource/issues/521

[2016-02-11 15:33] bcamper commented on #127
:city_sunrise:

[2016-02-11 17:23] matteblair commented on #62
Looks great to me!

[2016-02-11 17:23] #62 closed, assigned to nvkelso

[2016-02-11 17:36] matteblair commented on #118
Confirmed fixed!

[2016-02-11 17:36] #118 closed, assigned to nvkelso

[2016-02-11 21:35] nvkelso commented on #127
Verified on device.

[2016-02-11 21:35] #127 closed, assigned to nvkelso

[2016-02-11 21:35] nvkelso commented on #24
Verified on device.

[2016-02-11 21:35] #24 closed, assigned to nvkelso

[2016-02-11 21:35] nvkelso commented on #133
Verified on device!

[2016-02-11 21:35] #133 closed, assigned to nvkelso

[2016-02-11 21:46] bcamper commented on #127
:iphone: :mag_right: :city_sunset:

[2016-02-12 08:16] sensescape commented on #130
Yes let's review this

[2016-02-13 05:39] nvkelso opened #152 "Townspots & their text labels need priorities"
Big cities get collided out by smaller cities townspots :\

[2016-02-13 05:59] nvkelso commented on #152
Before and after:

![usa_z4](https://cloud.githubusercontent.com/assets/853051/13026182/b09723da-d1d3-11e5-933d-0601b33df5b2.gif)

![dc_z5](https://cloud.githubusercontent.com/assets/853051/13026185/b14b2286-d1d3-11e5-9c89-e8e5bde01669.gif)

![sf_z8](https://cloud.githubusercontent.com/assets/853051/13026183/b0b7a754-d1d3-11e5-9b12-ba6064e35a53.gif)

![paris_z10](https://cloud.githubusercontent.co

[2016-02-13 06:01] nvkelso commented on #152
I moved the road and POI label priorities up 30 from where they had been, and used 5 - 29 for city labels.

[2016-02-13 06:04] #152 closed, assigned to nvkelso

[2016-02-16 06:01] nvkelso opened #153 ""Piers" in airports shouldn't be blue"
Not clear how widespread this data issue is, but airport jetways at the Phoenix airport are showing up as blue piers in Eraser Map cartography. The landuse_kind is set to one of the 3 airport values, though, so we can test for it and style differently.
#17/33.43609/-111.99782

<img width="1060" alt="screen shot 2016-02-15 at 21 59 10" src="https://cloud.githubusercontent.com/assets/853051/13068367

[2016-02-16 06:05] nvkelso opened #154 "Egregious flickering between parking lot AOIs and church AOIs in Phoenix"
z-order fighting was epic and epileptic along the highway by the Phoenix Mountain Preserve on Tangram ES in Eraser Map master-907. Happened again while at the airport.

https://www.openstreetmap.org/edit?#map=18/33.57197/-112.02500

/#18/33.57174/-112.02592

<img width="879" alt="screen shot 2016-02-15 at 22 04 24" src="https://cloud.githubusercontent.com/assets/853051/13068424/242a2712-d430-11e5-

[2016-02-16 06:06] nvkelso commented on #154
This looks to be a data problem (both have `sort_key` of 4):

From: http://vector.mapzen.com/osm/all/18/49496/105094.topojson?api_key=vector-tiles-HqUVidw

[code]

[2016-02-16 06:11] nvkelso commented on #154
In app screenshots of the church area:

![screenshot_2016-02-15-16-13-16](https://cloud.githubusercontent.com/assets/853051/13068527/102eddd8-d431-11e5-81be-fb790313c45c.png)

![screenshot_2016-02-15-16-13-22](https://cloud.githubusercontent.com/assets/853051/13068529/105209ca-d431-11e5-9f62-e5a690b15d57.png)

![screenshot_2016-02-15-16-13-30](https://cloud.githubusercontent.com/assets/853051/1306

[2016-02-16 06:13] nvkelso commented on #154
Z fighting alsoat the Phoenix airport (below). This one might be more complicated as building parts are involved? /cc @bcamper

#18/33.43562/-111.99794

![screenshot_2016-02-15-16-26-18](https://cloud.githubusercontent.com/assets/853051/13068544/2c9b73fa-d431-11e5-9224-4bf60817c03e.png)

[2016-02-16 06:17] nvkelso commented on #154
@bcamper and @blair1618 I thought we had "fixed" this be resolving to the a-z sort order of the layer names when the layers (features) are at the same z-index in Tangram?

I had filed this [vector tile issue](https://github.com/mapzen/vector-datasource/issues/364) a while ago, thinking the Tangram fix alone would work. Related is https://github.com/mapzen/vector-datasource/issues/504.

[2016-02-16 06:30] nvkelso commented on #154
Reviewing other screenshots from the trip, looks like parking lots in shopping malls are also affected:

![screenshot_2016-02-14-16-52-09](https://cloud.githubusercontent.com/assets/853051/13068793/af0cab40-d433-11e5-84df-ceda386c5599.png)

[2016-02-16 06:49] matteblair commented on #154
The "collision resolution" we added doesn't prevent features from being set
to the same order. It's very hard to automatically determine whether two
features will overlap and have the same order, the best way to resolve this
right now is in the stylesheet.
On Feb 16, 2016 1:30 AM, "Nathaniel V. KELSO" notifications@github.com
wrote:

[2016-02-16 06:59] nvkelso commented on #154
@zerebubuth it sounds like https://github.com/mapzen/vector-datasource/issues/364 needs to be acted on after all :/

[2016-02-16 07:04] nvkelso commented on #154
@blair1618 We have dozens and dozens of landuse AOI types alone, so to resolve this we'd either need to smartly pack (calculating on the server) custom z-orders per tile depending on what's in the tile (hard), or widen up the `sort_key` values sent from the server from around 5 now to one per each landuse kind (easier). How many indexes values can we use safely? And are those distinct from the tex

[2016-02-16 16:03] matteblair commented on #153
That's kind of charming, in a way - sky piers at the aerodrome.

[2016-02-16 16:19] nvkelso commented on #153
Doubly charming that this airport is known as "Sky Harbor"!

[2016-02-16 16:29] nvkelso commented on #153
In London and Paris these are marked footways, like:

![screen shot 2016-02-16 at 08 22 08](https://cloud.githubusercontent.com/assets/853051/13082764/e5dca4ce-d486-11e5-807d-8e2b0fed6d14.png)

And if it's an elevated "jetway":

![screen shot 2016-02-16 at 08 21 38](https://cloud.githubusercontent.com/assets/853051/13082765/e5f39b5c-d486-11e5-8ded-5bc8b8b9b13e.png)

Looking at the OSM wiki:
- http

[2016-02-16 19:20] nvkelso commented on #153
Fixed in the data.

[2016-02-16 20:59] matteblair commented on #154
There should be enough usable range in orders to add spacing on the order of 5 units. Order is usable up to very large values (on the order of 5000) as long as there is no feature _geometrically beneath_ another feature of a lower order. For example, an extruded building of order 50 sitting on a landuse of order 500 is going to cause problems (the building may be covered).

[2016-02-16 21:28] nvkelso opened #155 "Bridges have caterpillar caps where they join road network"
From drive test in Phoenix, they have tons of roads and paths going over freeways that show like:
#18/33.38530/-111.94269

![screenshot_2016-02-14-11-22-07](https://cloud.githubusercontent.com/assets/853051/13091665/1eb54e84-d4b1-11e5-9e45-6f9380dd4435.png)

[2016-02-16 21:29] nvkelso commented on #155
We need combo of cap styles to fix this:

[code]

[2016-02-16 22:15] #155 closed, assigned to nvkelso

[2016-02-16 23:45] nvkelso opened #156 "line joins funky in Tokyo"
The white roads should still be tucked behind the red roads at this zoom (they are the previous zoom).
#15/35.6926/139.7176

<img width="1208" alt="screen shot 2016-02-16 at 15 44 24" src="https://cloud.githubusercontent.com/assets/853051/13095128/4367ff2a-d4c4-11e5-9a36-97ca0026210f.png">

[2016-02-23 20:35] matteblair opened #158 "Coordinate UI icon colors with eraser-map app UI colors"
Blue is the new green
![screenshot_20160223-142005](https://cloud.githubusercontent.com/assets/3371850/13265804/f709b7f2-da42-11e5-9f86-19b3b219954d.png)

[2016-02-23 21:50] nvkelso commented on #151
This also needs to filter fences in the boundaries layer out until z17 (it'll start showing up in data at z16 now).

[2016-02-24 00:28] nvkelso commented on #158
Geraldine has started work on this, expected to land tomorrow.

[2016-02-24 23:33] sensescape commented on #158
this is done

[2016-02-24 23:33] #158 closed, assigned to sensescape

[2016-02-24 23:35] nvkelso commented on #158
master-988

[2016-02-26 01:37] nvkelso opened #159 "New icons for v0.8 tiles release"
- [ ] Doctor office: used for clinics, doctors offices, midwife office
- [ ] Dentist
- [ ] Childcare: used for kindergarten, childcare (daycare centers)
- [ ] Phone: emergency phones, phone booths

I think the rest can get a generic icon or a house/building icon (for social facilities).

See also:
- [Issue](https://github.com/mapzen/vector-datasource/issues/526)
- [Example locations](https://githu

[2016-02-26 05:59] nvkelso commented on #151
Done via 91fc3b3951d1ce9a6e1865d17f1403ab56f46e59.

Fences aren't currently included in Eraser Map, but the changes in Skin & Bones include this change, so when it's picked up it'll be right.

[2016-02-26 05:59] #151 closed, assigned to sensescape

[2016-02-26 15:54] bcamper opened #160 "Building style can use vertex lighting for better performance"
@hjanetzek do you want to submit a PR for your modification of the building style to use vertex lighting? I think that's worth it for the performance improvement, especially on lower end devices.

[2016-02-26 15:56] bcamper commented on #160
@nvkelso @sensescape for background, this doesn't have any visual impact on rendering, but can speed things up by moving some calculations from the per-pixel fragment shader to the vertex shader (where they will only be run a handful of times per building).

[2016-02-26 16:01] nvkelso commented on #160
Sounds good! Before / after images?

[2016-02-26 16:11] hjanetzek commented on #160
@bcamper yes, I'll make a branch for it.
Also the 'grid' style used by water can be speed up by 30% here when using vertex instead of fragment lighting. The grid 'color' block must be 'filter' in this case. Plus another 30% when the (to me barely noticeable) grain is disabled.

I think it would be good if one could set the default lighting for styles to override fragment as default lighting.

[2016-02-26 16:16] bcamper commented on #160
@hjanetzek I did have a branch awhile ago that let you set a default `lighting` param in the `scene` block. I plan to revisit that later. Styles that need `fragment` lighting for correct rendering would need to make sure they set it explicitly then though. But overall I think it makes sense.

[2016-02-26 16:16] bcamper commented on #160
@nvkelso once we have it re-integrated (@hjanetzek dropped it into Slack a few weeks ago), we can look at it for confirmation, but it is pixel-for-pixel identical, just moves the computation around.

[2016-02-26 18:22] sensescape commented on #160
@hjanetzek Yes, the grain is barely visible. I'll remove it. But its affecting the overall color, will have to do some color adjustments and then remove it.

[2016-02-26 23:17] bcamper opened #161 "Remove duplicate YAML keys"
There are currently two places with invalid YAML keys in the scene file:

https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L2107-L2109
(in this case, the `cap` is being inherited from the parent anyway, so maybe it could be removed, along with the `cap` setting under `outline`)

https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L4328-L4330
(this one is a pret

[2016-02-26 23:18] bcamper commented on #161
@nvkelso assigning partially to think about sweeping through other styles, not urgent, but making it difficult to complete https://github.com/tangrams/tangram/issues/254

[2016-02-27 00:05] #161 closed, assigned to nvkelso

[2016-02-27 00:07] nvkelso commented on #161
Fixed in both Eraser Map and Skin & Bones repos.

The cap style thing definitely should have a refactor – brunnels and z-stacking remain weird but mostly fixed in Eraser Map. It's much more confused in Skin & Bones right now.

The neighbourhood priority was an easy fix (the large number was right & consistent with the previous use).

[2016-03-02 00:06] nvkelso opened #163 "Restyle pedestrian tunnels"
#19/51.50117/-0.11443

<img width="659" alt="screen shot 2016-03-01 at 16 05 56" src="https://cloud.githubusercontent.com/assets/853051/13446341/8a59c55e-dfc7-11e5-8508-72492a47f7d2.png">

[2016-03-02 00:07] nvkelso commented on #163
More like Station Approach the road in the bottom left?

[2016-03-02 00:16] nvkelso opened #164 "Polish railroad, transit layer interactions"
Hoboken (New York), Waterloo (London) stations are good test cases.

I've updated the widths, but the line colors probably need to change at some zooms.

[2016-03-07 16:31] bcamper opened #166 "Optimize grain implementation"
The current `grain` style implementation uses Fractional Brownian Motion (FBM), which is a very expensive technique:

https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L500-L534

Yet the actual cases in which the grain is being used, for water, doesn't appear to have much of a "grain-y" effect that would require this level of nuance:

`color.rgb -= grain(gl_FragCoord.xy) * 0.1;`

[2016-03-07 16:31] bcamper commented on #166
cc @sensescape @nvkelso

[2016-03-07 16:33] bcamper commented on #166
Related, removed an unused `ground` style that also had a grain reference, but appeared nowhere else in the scene file: https://github.com/tangrams/eraser-map/commit/9577cdee39338b962ca1a312e8bf3a3947c5c9c7

[2016-03-07 16:43] patriciogonzalezvivo commented on #166
This is what we have now:

![00](https://cloud.githubusercontent.com/assets/346914/13575989/6d12cf04-e459-11e5-9b7a-f531f3d5440e.png)

This is with out the grain:

![01](https://cloud.githubusercontent.com/assets/346914/13576000/74e86d06-e459-11e5-873d-6fcfefccc64b.png)

I think to a sensitive eye the perceptual difference is provided by the circular gradient on the overall map and not by the grai

[2016-03-14 21:14] nvkelso opened #168 "don't give building label placements icons"
Turns out buildings have extra tags on them that often end up in as the `kind:*` value. In the case of disused railway stations, those end up being shown on the map with an icon, but really that should just be text. We already accommodate the text in the `building-label` layer, so removing it from the `pois_and_landuse_labels` data source will also eliminate redundant labels.

to:

[code]

from:

[2016-03-14 22:55] nvkelso commented on #168
Fixed in https://github.com/tangrams/eraser-map/pull/169.

[2016-03-14 22:55] #168 closed, assigned to nvkelso

[2016-03-15 17:09] nvkelso opened #170 "Prioritize road labels over most POI labels"
POIs are crowding out most road labels, making poor screenshots at zooms 12-16.

The landuse POIs should probably still win out, but the generic POIs should loose out to all or most road labels.

[2016-03-15 17:12] nvkelso opened #171 "Missing roads at some zooms"
In San Francisco, Fulton St. line stroke is missing at zooms 11, 12, 13, 14. But the label is still there.

There's also some funky joins at zoom 15 for the same road where it intersects CA-1.

<img width="687" alt="screen shot 2016-03-15 at 10 11 59" src="https://cloud.githubusercontent.com/assets/853051/13786773/63a92984-ea96-11e5-8d20-0d29086e171e.png">

![pasted image at 2016_03_15 10_05 am](h

[2016-03-15 17:14] nvkelso commented on #170
Fixed in 0a7c1d229d27d96c064e1470930066c8be708464.

[2016-03-15 17:14] #170 closed, assigned to nvkelso

[2016-03-15 17:16] #171 closed, assigned to nvkelso

[2016-03-15 17:28] nvkelso opened #172 "Reprioritize building labels to be less important than POIs"
Now that we're de-emphasizing building labels (by not including them in icons generation), we should make sure they have less priority than POI and Landuse icons. And probably show them a zoom later.

[2016-03-15 17:29] #172 closed, assigned to nvkelso

[2016-03-22 18:41] karimnaaji opened #173 "Language fallback preference"
As a comment coming from eraser-map, we should use language fallback preference, preferring english; this can later be based on the phone main language preference once tangram provide a way to update global scene preferences. This should be a static set of fallback at first, and can be set to a global user scene preference once tangram provide api to dynamically update this.

Refer to https://gith

[2016-04-18 17:45] nvkelso opened #177 "add mz_ defaults for point, line, polygon drawing"
To support SDK integration.

[2016-04-18 20:44] nvkelso opened #179 "enable interactivity for building names"
Once we took the building icons away, they are no longer tappable in Eraser Map. Let's add interactivity to them.

/cc @dianashk and @ecgreb.

[2016-04-18 21:09] nvkelso commented on #179
These are already set to true in the stylesheet, if this doesn't work in the app it's probably a different problem.

NTBF.

[2016-04-18 21:09] #179 closed, assigned to nobody

[2016-04-18 23:32] nvkelso opened #180 "Allow global control of text label name localization"
OSM includes name variants for many languages, and we expose that in tiles. Tangram v0.7 allows us to set a global that can be modified later (by an include override, or by an SDK like in Eraser Map the app). Adapt the bubble wrap style to allow setting different language defaults.

Also note: `name` in OSM is the local language spoken in an area, and if another language is the same as that, we on

[2016-04-18 23:32] nvkelso commented on #180
/cc @bcamper @ecgreb @blair1618

[2016-05-04 21:03] nvkelso opened #181 "Use highway shields instead of inline with road name text"
For instance, in Australia and other countries the road number isn't that important. Right now we're forcing people to read that **before** the road name. Instead we should show the road number as a shield separate from the text.

See: 16/-37.8542/145.1699

[2016-05-23 18:16] nvkelso commented on #177
This was completed.

[2016-05-23 18:16] #177 closed, assigned to nvkelso

[2016-06-08 13:20] mjcunningham opened #183 "Blue line appearing at single zoom level"
This is in the prod build. See attached.
![screenshot_20160608-091047](https://cloud.githubusercontent.com/assets/307758/15895612/27adcb4a-2d5a-11e6-8390-e8f0583ef7d7.png)

[2016-06-08 15:37] matteblair commented on #183
Probably fixed by https://github.com/tangrams/bubble-wrap/commit/1746d430529a1f85393d3f2c56b5286e06422f90

We should update the versions of bubble-wrap in the Android SDK and Eraser Map

[2016-06-08 15:47] nvkelso commented on #183
Yes, fixed by https://github.com/tangrams/bubble-wrap/commit/1746d430529a1f85393d3f2c56b5286e06422f90.

I've released [v2.0.1](https://github.com/tangrams/bubble-wrap/releases/tag/v2.0.1), please update Eraser Map to point at this new release.

[2016-06-08 16:00] matteblair commented on #183
Is there a similar issue in Cinnabar or Refill? If so we can update those as well.

[2016-06-08 16:05] matteblair commented on #183
Oh actually it looks like this fix is already in the submodule commit referenced by the Android SDK ([according to this history](https://github.com/tangrams/bubble-wrap/commits/1e100fbc0a9364de188ad35738853a7c57dc1f58)). Since Eraser Map uses styles from the Android SDK now, the next release will have this fix.

[2016-06-08 17:03] ecgreb commented on #183
Once we wrap up the current round of SDK changes we'll push a new version of the app to the store.

[2016-07-18 19:14] nvkelso opened #185 "Aboriginal boundaries look like state (region) boundaries"
Turns out admin level 4 has both regions and aboriginal boundaries. Let's style the aboriginal differently.

http://tangrams.github.io/bubble-wrap/#8.59747/40.9799/-123.4623

<img width="809" alt="screen shot 2016-07-18 at 12 13 13" src="https://cloud.githubusercontent.com/assets/853051/16927197/22e07684-4ce1-11e6-8db9-f261b5a8b34c.png">

[2016-07-26 16:09] nvkelso opened #187 "Zoom 17 missing some building parts"
_Migrating this from https://github.com/tilezen/vector-datasource/issues/912..._
# tl;dr

From [this](https://github.com/tangrams/bubble-wrap/blob/gh-pages/bubble-wrap.yaml#L2492-L2500) chunk of code, sleuthed by @zerebubuth:

[code]

We think something like this needs to be added to zoom 17 filter set:

[code]
# Mike's original report

Go to: http://tangrams.github.io/bubble-wrap/#18.87804/40.745

[2016-07-27 16:23] nvkelso opened #188 "Add new styling for route navigation application state"
Eraser Map is set to add several application states, including one for route navigation (see https://github.com/mapzen/eraser-map/issues/710).

If that is conditionally set, bump up the text sizes and remove some minor business icons.

[2016-07-27 16:24] nvkelso opened #189 "Add transit map options"
See https://github.com/mapzen/eraser-map/issues/710 and https://github.com/mapzen/eraser-map/issues/711 for transit map mode browsing, transit route selection, transit route preview / nav.

[2016-08-25 08:29] nvkelso opened #196 "Update tier landuse > pois label filter logic for v1 tiles"
See: https://github.com/tilezen/vector-datasource/issues/742.

[2016-08-29 19:05] hallahan opened #197 "Not Working in Tangram ES"
Just tried using this style in Tangram ES with no luck. On master, commit https://github.com/tangrams/tangram-es/commit/d423f8a85948f5a2d4b601270977a075571ee0fe

<img width="1164" alt="screenshot 2016-08-29 11 55 36" src="https://cloud.githubusercontent.com/assets/556367/18063371/8a3b4146-6ddf-11e6-979a-e9bf960db879.png">

I get the following warning:

[code]

[2016-08-29 19:05] hallahan commented on #197
Whoops, wrong repo.

[2016-08-29 19:05] #197 closed, assigned to nobody

[2016-09-09 21:14] nvkelso commented on #189
/cc @bcamper

[2016-09-12 17:38] matteblair opened #200 "Filters for building footprints and extrusions should extend to zoom 20"
To support https://github.com/tangrams/bubble-wrap/pull/198, the filters here should be extended: https://github.com/tangrams/bubble-wrap/blob/gh-pages/bubble-wrap.yaml#L2693-L2728

[2016-09-12 17:53] matteblair commented on #200
@nvkelso: Varun or I could make educated guesses about what these should be. Is that worth doing or would you prefer to just write this yourself?

[2016-09-12 18:02] nvkelso commented on #200
I’m not sure I follow. All footprints should be visible at zoom 17+, and
all buildings should be extruded at 18+. Please propose changes.

On Mon, Sep 12, 2016 at 10:53 AM, Matt Blair notifications@github.com
wrote:

[2016-09-12 18:13] matteblair commented on #200
In #198 we want to support a 'switch' that turns off building extrusions everywhere and instead shows only building footprints at all zooms. Currently, the filter on the 'footprints' layer makes all footprints stop at zoom 18. Consequently, when we turn off the 'extrude' layer there are no buildings at all past zoom 18. If we intend the style to support viewing up to zoom 20 then we should be able

[2016-09-14 23:55] nvkelso commented on #189
Suggest this can be configured via a new global:
- **`sdk_transit_overlay`** which defaults to `false` but can be set to `true`. Optionally we might support an `auto` value which would toggle it depending on variety of circumstances.

There are several different factors that could impact `auto` including https://github.com/mapzen/eraser-map/issues/710 and https://github.com/mapzen/eraser-map/issue

[2016-09-15 01:10] tallytalwar commented on #189
A basic state of `false` and `true` seems good to me. I am assuming you will be assigning this global to the `visible` property of the transit layer(s).

The `auto` one could be interesting, how do you plan use it in the layers? It might need some more information to determine when to turn a transit layer `on`/`off`.

[2016-09-16 19:03] bcamper commented on #200
This should now be covered by changes in #198.

[2016-09-16 19:03] #200 closed, assigned to nobody

[2016-10-21 00:45] sensescape opened #207 "platforms are not transparent"
alpha not working anymore:
<img width="227" alt="screen shot 2016-10-20 at 5 43 05 pm" src="https://cloud.githubusercontent.com/assets/466585/19582851/c8b01df8-96ec-11e6-89c1-7307b38250e5.png">

https://github.com/tangrams/bubble-wrap/blob/sensescape/shields/bubble-wrap.yaml#L1602-L1604

[2016-11-15 18:03] nvkelso opened #209 "Disable road shields when transit overlay enabled"
New road shields are landing, and on by default. But those might not be helpful to transit (and transit could show shields for the lines instead).

There's a global to disable them. Let's graduate that to a official "API" global (change the name, document in `cartography-docs`), and update the logic in the layer switcher.

/cc @irees.

[2016-11-15 18:10] nvkelso opened #210 "Add transit line shields in transit overlay"
As we remove road shields in #209 when in transit overlay mode, we should also show shields for transit lines.

[2016-11-16 16:06] nvkelso opened #211 "Dirty icons"
Need to run the clean script on latest release.

[2016-11-16 16:07] nvkelso commented on #211
(Affects Tangram ES, JS is fine.)

[2016-11-21 20:59] nvkelso opened #214 "White halo on roads"
Usually Bubble Wrap doesn't have any halos.

14.22142/51.4459/4.9294

<img width="994" alt="screen shot 2016-11-21 at 12 58 38" src="https://cloud.githubusercontent.com/assets/853051/20500449/4ed817f8-afea-11e6-8ba0-03b4f36b5794.png">

[2016-11-22 16:24] ecgreb opened #215 "Mobile version with less "interactive""
Would it be possible to create a mobile version of the bubble wrap style with fewer layers marked `interactive`?

For example in Eraser Map we only want the following types of features to be interactive:

1. POIs with icons and labels displayed on the map
2. Search result pins placed by the app

## POIs

![poi](https://cloud.githubusercontent.com/assets/464123/20531704/8c3c0620-b0a5-11e6-814d-5a38

[2016-11-22 21:02] nvkelso commented on #215
@tallytalwar You mentioned that you made some changes for this in a branch, is it [varun/testing-interactive-icons](https://github.com/tangrams/bubble-wrap/tree/varun/testing-interactive-icons)?

[2016-11-22 21:06] tallytalwar commented on #215
@nvkelso yes. I did a quick removal of `interactive` draw rules for everything other than icons or points style.

Also `interactive` is not a style parameter. So removed all references of it from any user defined styles.

[2016-11-22 22:02] ecgreb commented on #215
@tallytalwar nice work your branch does seem to produce the desired behavior in the app. If these changes are ok on web too then might not be a need for a separate mobile version of the stylesheet.

[2016-11-28 19:59] sensescape opened #216 "Do we need vignette in bubble wrap?"
Need to review this:
https://github.com/tangrams/bubble-wrap/pull/213

[2016-11-29 22:44] sensescape opened #217 "universities show too early"

[2016-12-05 23:22] #211 closed, assigned to nobody

[2016-12-14 22:14] nvkelso commented on #180
This was completed.

[2016-12-14 22:14] #180 closed, assigned to nobody

[2016-12-14 22:16] nvkelso opened #226 "Move to generic API key URLs with url_params"
See proposed solution in https://github.com/tangrams/cartography-docs/issues/2#issuecomment-259525739.

This is needed for iOS SDK launch.

[2016-12-21 20:18] nvkelso opened #228 "railroads went missing"
Oops. Looks like they're in the roads layer, but that layer filters them out incorrectly.

[2016-12-21 20:18] #228 closed, assigned to nobody

[2016-12-22 20:03] #226 closed, assigned to nobody

[2016-12-27 22:57] nvkelso commented on #215
Completed in https://github.com/tangrams/bubble-wrap/pull/224.

[2016-12-27 22:57] #215 closed, assigned to nobody

[2016-12-27 22:58] nvkelso opened #229 "Roads layer refactor"
Including more prominent `tertiary` roads at high zooms. See Hyattsville, MD

[2016-12-27 23:40] nvkelso opened #231 "Switch to custom transit shield artwork"
In https://github.com/tangrams/bubble-wrap/pull/230 we landed changes for transit line shields, but really we should have custom transit shield artwork (solid, no halo).

[2016-12-27 23:41] #209 closed, assigned to nobody

[2016-12-27 23:41] #210 closed, assigned to nobody

[2016-12-29 23:52] nvkelso commented on #207
This got fixed along the way (we think a Tangram regression that was fixed.)

[2016-12-29 23:52] #207 closed, assigned to nobody

[2017-01-12 16:38] bcamper opened #234 "Add zip distribution on next release"
With recent additions like new fonts, Bubble Wrap is now loading several more files. We can improve client-side load efficiency by offering a zip bundle version of the style. This needn't be exclusive of the existing `bubble-wrap.yaml` distribution, we can simply upload both to mapzen.com.

[2017-01-17 19:54] nvkelso opened #235 "Performance hit on HTML rig setting labels options"
Picking up the conversation in https://github.com/tangrams/bubble-wrap/commit/1e07f8eb16d3365a27dba8dcb12a62420d6ef054#commitcomment-20493215...

@bcamper said:

[code]

[2017-01-17 20:02] nvkelso opened #236 "Refactor label globals to generic more, some, none sdk options"
Right now we have dozens of internal global properties that control label visibility:

- https://github.com/tangrams/bubble-wrap/blob/e6b962c7f7dd6b111330138e433b2df0d1d0401a/bubble-wrap.yaml#L202-L248

We added some exposure for that in the HTML rig to toggle them `more`, (default), and `no`:

- https://github.com/tangrams/bubble-wrap/blob/e6b962c7f7dd6b111330138e433b2df0d1d0401a/index.html#L403-

[2017-01-17 20:03] nvkelso commented on #235
The release proposal on the table is each YAML file per basemap style label variant would have the globals set in the YAML file, as has been done previously using the older YAML anchors and for TRON using the newer global syntax.

It sounds like the HTML rig introduces noticeable performance impact and we should look at that, but I don't think that affects straight Tangram use of the scene styles,

[2017-01-17 23:30] nvkelso commented on #234
This required some changes in the Bundler, merged in https://github.com/tangrams/bundler/pull/5.

Other work is tracked in https://github.com/mapzen/carto-s3-bucket/issues/6.

[2017-02-01 17:15] nvkelso opened #237 "Add bus roads to transit overlay"
- [x] Data is in tiles
- [x] Product Demo Map: https://mapzen.com/projects/multimodal-transit-demo/?d=1&lat=40.7259&lng=-73.9805&z=12&c=multimodal&st_lat=40.744273&st_lng=-73.990328&st=Mapzen&end_lat=40.704651&end_lng=-73.9361&end=CartoDB&use_bus=0.5&use_rail=0.6&use_transfers=0.4&dt=2017-02-07T08%3A00&dt_type=1
- [ ] Add to Bubble Wrap (and then other Mapzen house styles)

[2017-02-10 17:05] nvkelso opened #238 "Default labels should enable all road labels early"
To match the JS rig, and related to https://github.com/tangrams/tangram/pull/484#issuecomment-278506017. The older logic is from Tangram era 0.7 but articulated labels changes more recently and the about to land curved labels make these labels look good earlier now.

Here's what the JS has, the YAML for the default labels scene file should mark them `true` (currently `false`).

[code]

[2017-03-07 23:22] nvkelso commented on #234
This work was completed last release.

[2017-03-07 23:22] #234 closed, assigned to nvkelso

[2017-03-14 00:04] nvkelso opened #239 "Add left and right labels for boundary lines"
Tangram v0.12 will include support for separate `text_source`s for `left` and `right` labels. Let's adopt that syntax in Bubble Wrap.

(Note: This will require v0.12 as the earlier combined text_source will be replaced in favor of left and right.)

[2017-04-03 17:22] bcamper opened #242 "Don't rely on default font size"
I've been noticing some odd road labels, and I think that the problem is relying on the default `font.size` parameter. For example, check out these big road labels for 14th Ave, 18th Ave, etc. on Tangram ES:

![native](https://cloud.githubusercontent.com/assets/16733/24617865/2ffb3392-1863-11e7-9384-3bec2fe613d1.PNG)

They look more normal in Tangram JS, but in both cases I think it's falling back

[2017-04-03 17:35] nvkelso commented on #242
I had noticed the same thing using the iOS demo app, thanks for the sleuthing!

From https://mapzen.com/documentation/tangram/draw/#font-parameters:

[code]

I've summarized the defaults below (different than the example in docs):

[code]

My preference is for ES and JS to have the same default text font size (`12px`).

[2017-04-03 17:35] nvkelso commented on #242
(Which would make this a Tangram ES issue, with no change for Bubble Wrap scene file.)

[2017-04-03 20:18] matteblair commented on #242
A cursory glance at the relevant code in tangram-es leads me to believe that we currently do not default to a font size of 12 px: https://github.com/tangrams/tangram-es/blob/master/core/src/style/textStyle.h#L33

@karimnaaji or @hjanetzek can you clarify whether I'm looking at the right value and what the units for this are?

[2017-04-03 20:36] karimnaaji commented on #242
Yes it seems that there is a mismatch on the default value here between JS and ES, we use 16pixels.

@matteblair this is the right place to look at, the value is defined in the stylesheet default units (pixels).

[2017-04-03 20:38] tallytalwar commented on #242
Correct.

![screen shot 2017-04-03 at 4 38 05 pm](https://cloud.githubusercontent.com/assets/360641/24630789/fca6016a-188b-11e7-8602-ac9ca6ab8a35.png)

Left is the default on ES, right is setting default to 12px.

[2017-04-05 16:09] nvkelso opened #243 "Allow sdk control over initial visibility for buildings, minor roads"
In the current design we show things like buildings at zoom 13 and minor roads at zoom 12. This looks great, but sometimes has a performance impact. Let's add a SDK config to throttle back when some features are shown.

This probably involves making use of layer `enabled` properties for buildings (added in Tangram v0.12, was `visible` in earlier releases) and possibly also looking at individual fe

[2017-04-22 22:55] nvkelso commented on #189
This was completed a few months ago.

[2017-04-22 22:55] #189 closed, assigned to nobody

[2017-04-22 22:55] nvkelso commented on #237
We're adding bus shields to vector tiles in the next prod build, ready to test on dev now.

[2017-04-22 22:58] nvkelso opened #244 "Source transit line colors from new colour_name property"
The next prod build of vector tiles will feature ~50 snapped colours using named CSS color names in the `colour_name` property.

A few may need remapping to a different HEX value (like pure red, pure green, pure blue).

See: https://github.com/tilezen/vector-datasource/issues/1190.

[2017-04-22 22:58] nvkelso commented on #244
This comment has the latest palette: https://github.com/tilezen/vector-datasource/issues/1190#issuecomment-296310416.

[2017-04-22 23:03] nvkelso opened #245 "BLOCKED: Offset transit lines per tile attribute"
This will require both a new version of vector tiles in https://github.com/tilezen/vector-datasource/issues/1189, and a new version of Tangram (see related https://github.com/tangrams/tangram/pull/547).

[2017-04-22 23:03] nvkelso commented on #244
Related transit line offsets: https://github.com/tangrams/bubble-wrap/issues/245.

[2017-04-23 03:04] nvkelso opened #246 "Create color blind safe transit line palette"
Followup work for https://github.com/tangrams/bubble-wrap/issues/244 once `colour_name` lands in production vector tiles.

[2017-05-03 22:49] nvkelso opened #248 "Fences should display"
Looks like styling needs to catch up to the v1.0 vector tile change moving them from boundaries to landuse layer.

/cc @meetar.

[2017-05-22 20:27] #239 closed, assigned to nobody

[2017-05-22 20:38] nvkelso commented on #248
Fixed in 278308038394b8e83d3a82b5959c3592f52197e4.

[2017-05-22 20:38] #248 closed, assigned to nobody

[2017-05-30 21:52] nvkelso opened #250 "Add directional current location icon"
Paired up with https://github.com/mapzen/ios/issues/333, add a new icon that shows both the current location dot `( • )` and adds a triangle that can orient towards direction of view, more like `( • )>`

[2017-05-30 21:53] nvkelso commented on #250
For v1 we'd need to whitespace buffer the non-triangle sides so the rotation point is
still centered on the `( • )` portion of the icon.

[2017-07-05 17:12] nvkelso opened #251 "Tunnel paths should receive different treatment"
At the Opera metro station in Paris we have multiple underground paths at multiple levels (shows up in different `sort_rank` values), wow!

Let's give the underground paths a similar treatment to underground roads, and maybe a little different "transparency" (but solid color) depending on the `sort_rank`?

- https://tangrams.github.io/bubble-wrap/#19/48.87068/2.33195

<img width="1036" alt="screen

[2017-08-14 18:52] nvkelso opened #253 "Add night color theme"
Per developer requests.

Something similar to the `purple-green` Refill theme? https://mapzen.com/blog/refill-themes-part-2/

[2017-08-14 18:52] nvkelso commented on #253
/cc @msmollin

[2017-08-30 18:50] bcamper opened #255 "Transit stations should have localized labels"
It looks like transit stations (or some anyway) are not localizing when the language code is set. Here's an example, it looks like the `text_source` doesn't reference language settings.

![screen shot 2017-08-30 at 2 48 25 pm](https://user-images.githubusercontent.com/16733/29889565-98584c46-8d92-11e7-94bb-0469cdf00fac.png)

[2017-09-28 20:27] nvkelso opened #259 "Fix Tangram ES warnings"
Some of these are just FYI, some should be fixed:

[code]

[2017-10-30 19:08] nvkelso opened #260 "name:short showing region abbreviations outside of USA chaotically"
Regions are preferred at some zooms to source the text from `name:short`, but when we designed these 2 years ago that property was only on United States regions (states). Now we're seeing it in Indonesia, too, somewhat chaotically.

Either we need to limit to just USA labels (would need to be whitelist of short names since we don't have country codes?), or be less chaotic elsewhere.

/cc @tallytal

[2017-10-30 19:43] tallytalwar commented on #260
Very Quick to find the issue here @nvkelso 👍

[2017-11-17 17:18] msmollin commented on #250
We're looking at adding support for this as part of https://github.com/mapzen/ios/issues/391 - did this get added yet?

[2017-11-17 17:38] nvkelso commented on #250
It's not too hard to add, we can add it to the current icon sprint (for December release).

[2018-01-10 17:38] nvkelso opened #263 "Update language dropdown to use el instead of gr for Greek"
Thanks @imresamu for the tip.

[2018-03-16 18:13] nvkelso opened #264 "USA and International road shield support & polish"
Back in 2017 we started adding new artwork and logic for USA and international roads shields in https://github.com/tangrams/bubble-wrap/pull/262. That work needs to be finished, including the following shield polish improvements:

- Some text colors need to change from black to say green or blue or reverse (see Australia)
- Some text needs to be offset (usually up/down) inside the shield art (see

[2018-03-19 21:13] sensescape opened #265 "US:DE drawing inconsistently"
Delaware shield is not drawing

<img width="1004" alt="screen shot 2018-03-19 at 2 12 30 pm" src="https://user-images.githubusercontent.com/466585/37622696-9d7365fe-2b7f-11e8-86e9-9490b8fc905b.png">

[2018-03-20 22:50] sensescape opened #266 "US:NE drawing inconsistently"
drawing inconsistently, not showing here:
<img width="742" alt="screen shot 2018-03-20 at 3 36 31 pm" src="https://user-images.githubusercontent.com/466585/37686836-5ae2df62-2c56-11e8-9558-dafeb0bb90a6.png">
http://localhost:8000/#13.073488871256485/41.2785/-96.0462

[2018-03-20 23:22] sensescape opened #267 "US:NM drawing inconsistently"
NM state shield not drawing, here:
<img width="764" alt="screen shot 2018-03-20 at 4 20 59 pm" src="https://user-images.githubusercontent.com/466585/37687933-cc674b10-2c5a-11e8-91be-a5ecacf5d7e9.png">
http://localhost:8000/#14.170112609863281/32.3249/-106.7941

[2018-03-20 23:52] sensescape commented on #267
this too:
US:ND

<img width="722" alt="screen shot 2018-03-20 at 4 51 06 pm" src="https://user-images.githubusercontent.com/466585/37688804-02e42d76-2c5f-11e8-960a-a703cb3f31bd.png">
http://localhost:8000/#14.000732421874975/46.7944/-100.7892

[2018-03-22 16:35] matteblair opened #268 "bubble-wrap-shields-usa@2x.png has extra area"
![screen shot 2018-03-22 at 12 34 44 pm](https://user-images.githubusercontent.com/3371850/37784105-6f5495b2-2dcd-11e8-92c7-beb1cecf1dbd.png)

Let's keep it trimmed to save HTTP and rendering resources!

[2018-03-22 16:55] matteblair opened #269 "Shield images exceed maximum OpenGL texture size on older devices"
Currently bubble-wrap-shields-international@2x.png is 1014 x 3696 pixels and bubble-wrap-shields-usa@2x.png is 1792 x 3578 pixels. For an older generation of devices including the iPhone 4, Galaxy Nexus, and Raspberry Pi, this exceeds the GL_MAX_TEXTURE_SIZE limit of 2048 pixels (in either dimension). This means that these devices will fail to display any sprites in either of these images.

We can

[2018-04-18 15:02] #129 closed, assigned to souperneon

[2018-12-04 05:23] nvkelso commented on #268
No longer an issue:

![bubble-wrap-shields-usa 2x](https://user-images.githubusercontent.com/853051/49420724-b49e2c80-f741-11e8-8ebb-b272558eaac9.png)

[2018-12-04 05:23] #268 closed, assigned to nobody

[2018-12-04 05:24] nvkelso commented on #263
Done

[2018-12-04 05:24] #263 closed, assigned to nvkelso

[2019-08-09 19:36] nvkelso opened #278 "Audit draw order being data driven"
We moved almost all order values to be data driven from the server, but https://github.com/tangrams/bubble-wrap/pull/277#discussion_r312307997 calls out we should audit that in the scene file.